@media (max-width: 750px) {
  #workpane_width {
    display: none;
  }
}

.nav-decor{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-name{
  font-weight: bold;
}

.search-form-control input{
  width: 80%;
  display: inline-block;
}

.badge{
  color: #FFFFFF;
  background-color:#4682B4;
}

#body-control {
  background-color: white;
  min-height: 610px;
  /*border-left: solid #E7E7E7 1px;*/
}

#workpane_width {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.container-fluid{
  margin: 0px;
}

.navbar {
  margin: 0px;
  padding: 0px;
}

#main-sidebar {
  height: 100%;
  background-color: #F8F8F8;
  /*min-height: 610px;*/

}


#search-button-control {
  margin: 25px 15px;
}

.list-group {
  background-color: #F8F8F8;

}

.list-group-item {
  background-color: #F8F8F8;
  border-left: none;
  border-right: none;
  border-radius: 0px !important;
  color: royalblue !important;
}

.right-arrow{
  width: 5%;
  text-align: right;
  display: inline-block;
  /*background-color: red;*/
}

.left-item {
  width: 90%;
  display: inline-block;
  /*background-color: green;*/

}

.list-group-item.inner-item {
  border-top: none !important;
  border-bottom: none !important;
  margin: 0px !important;
  /*background-color: red;*/
}

.nav-second-level {
  text-align: left;
}

.nav-second-level a:before {
  content: "\00a0    ";
}

#user-btn-control {
  margin-right: 15px;
  color: #4682B4;
}

.dashboard-btn {
  background-color: #e6e6e6;
}
