<!-- Main Jobs Content-->
<div class="col-md-8 col-md-offset-1 col-sm-12 main-content">
  <!-- Content 1 -->
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle"
             width="80px"
             height="80px"
             src="{{jobs_logo}}"
             alt="company-avatar">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Assistant Budget Officer</h4>
      <div class="job-body">
        <div class="job-position">
          <h5>Stumbit Inc. - Santasi, Kumasi</h5>
        </div>
        <div class="job-brief">
          <h6 class="post-headers">Job Briefing</h6>
          An innovative software startup with the Primary Goal of revolutionarizing
          the business world. Cras purus odio, vestibulum in vulputate at,
          tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </div>
        <div class="job-requirements">
          <h6 class="post-headers">Job Requirements</h6>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            2 Years working experience
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Experienced Python Programmer
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Bsc. Software Engineering or Equivalent
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Computer Vision Expert
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Deep Learning Researcher
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Can Program for 8 hours Non-Stop
          </button>
        </div>
        <a [routerLink]="['/applicant/confirm-application']" class="btn btn-default btn-sm apply-btn">Apply</a>
      </div>
      <div class="main-content-divier"></div>
    </div>
  </div>
  <!-- Content 2 -->
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle"
             width="80px"
             height="80px"
             src="{{jobs_logo}}"
             alt="company-avatar">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">JHS Mathematics Teacher</h4>
      <div class="job-body">
        <div class="job-position">
          <h5>His Grace Basic School. - Tamale</h5>
        </div>
        <div class="job-brief">
          <h6 class="post-headers">Job Briefing</h6>
          The best glass manufacturing company in Ghana.
          Cras purus odio, vestibulum in vulputate at,
          tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </div>
        <div class="job-requirements">
          <h6 class="post-headers">Job Requirements</h6>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            7 Years working experience
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Recommendation Letter from previous Company
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Bsc. Business Administration
          </button>
        </div>
        <a [routerLink]="['/applicant/confirm-application']" class="btn btn-default btn-sm apply-btn">Apply</a>
      </div>
      <div class="main-content-divier"></div>
    </div>
  </div>
  <!-- Content 3 -->
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle"
             width="80px"
             height="80px"
             src="{{jobs_logo}}"
             alt="company-avatar">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Warehouse Manager</h4>
      <div class="job-body">
        <div class="job-position">
          <h5>Mazda Limited. - Circle, Accra</h5>
        </div>
        <div class="job-brief">
          <h6 class="post-headers">Job Briefing</h6>
          Fusce condimentum nunc ac nisi vulputate fringilla.
          Cras purus odio, vestibulum in vulputate at,
          tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </div>
        <div class="job-requirements">
          <h6 class="post-headers">Job Requirements</h6>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            5 Years working experience
          </button>
          <button class="btn btn-primary btn-sm requirements-tag" disabled>
            Bsc. Civil Engineering
          </button>
        </div>
        <a [routerLink]="['/applicant/confirm-application']" class="btn btn-default btn-sm apply-btn">Apply</a>
      </div>
      <div class="main-content-divider"></div>
    </div>
  </div>
</div>
