.main-div{
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.application-document-review{
    font-size: 150%;
    /*border-bottom: 1px solid #505050;
    padding: 0 0 9px;*/
}

.basic-information{
    color: #4169E1;
}

textarea {
    resize: inherit;
}

.certificate-check, .cv-check, .basic-information-check{
    color: #008000;
}

.recommendation-letter-check{
    color: #FF0000;
}

.help{
    color: #FFA500;
}

.submit, .cancel {
    border-radius: 0;
}

.submit{
    background-color: #4169E1;
    color: #FFFFFF;
}

.cancel{
    background-color: #FFA500;
    color: #FFFFFF;
}