<!-- Post Jobs COntent -->
<div class="page-header main-header">
    <h3>Post Jobs</h3>
</div>

<div class="col-md-8 col-md-offset-2 post-job-form">
  <div class="page-header">
    <h4 class="post-job-header-info">Job Posting Form</h4>
    <small class="post-job-info">In order to successfully post a job offer, please ensure that all fields are
      filled appropriately</small>
  </div>
  <form>

    <div class="form-group">
        <label for="job-role">Job Role</label>
        <input type="text" class="form-control" id="job-role" placeholder="Job Role" aria-describedby="basic-addon1">
    </div>

    <div class="form-group">
      <label for="role-description">Role Description</label>
      <textarea id="role-description" placeholder="brief description of job" class="form-control" rows="3">

      </textarea>
    </div>

    <div class="form-group">
      <label for="job-type">Select Role Type</label>
      <select id="job-type" class="form-control">
        <option disabled selected>Choose Role Type</option>
        <option value="remote">Remote</option>
        <option value="part-time">Part Time</option>
        <option value="full-time">Full Time</option>
      </select>
    </div>

    <!--<div class="form-group">-->
      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">-->
        <!--<span class="input-group-addon" id="basic-addon2">@example.com</span>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group">
      <label>Salary Currency</label>
      <select #currency class="form-control">
        <option selected value="&#8373;">Cedis</option>
        <option value="&#8358;">Naira</option>
        <option value="&#36;">US Dollars</option>
        <option value="&#8377;">Indian Rupee</option>
        <option value="&#8383;">BTC</option>
      </select>
    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <div class="input-group">
        <span class="input-group-addon">{{currency.value}}</span>
        <input type="number" id="salary" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div>
    </div>

    <div class="form-group">
      <label for="job-location">Job Location</label>
      <input type="text" placeholder="enter job location" class="form-control" id="job-location">
    </div>

    <div class="form-group">
      <label for="applicant-location">Preferred Applicant Location</label>
      <input type="text" placeholder="enter preferred applicant location" class="form-control" id="applicant-location">
    </div>

    <div class="form-group">
      <label for="job-requirements">Job Requirements</label>
      <tag-input [(ngModel)]="jobRequirements"  id="job-requirements"></tag-input>
    </div>



    <div class="form-group">
      <label for="minimum-qualification">Minimum Qualification</label>
      <select id="minimum-qualification" class="form-control">
        <option disabled selected>Choose Minimum qualification</option>
        <option value="bece">BECE Certificate or Equivalent Holder</option>
        <option value="wassce">WASSCE Certificate or Equivalent Holder</option>
        <option value="bsc">BSc. Degree or Equivalent Holder</option>
        <option value="ba">BA. Degree or Equivalent Holder</option>
        <option value="masters">Msc. or Equivalent Degree Holder</option>
        <option value="phd">PhD. Degree or Equivalent Holder</option>
      </select>
    </div>

    <!--<div class="form-group">-->
      <!--<label for="basic-url">Your vanity URL</label>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>-->
        <!--<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">-->
      <!--</div>-->
    <!--</div>-->


    <div class="form-group">
      <input class="form-control btn btn-primary" type="submit" value="Post Job">
    </div>

  </form>
</div>
