/*------ Main Home page styles ----*/
.stumbit-id {
    color: #5bc0de !important;
}

i {
    color: #5bc0de !important;
}

.catch-phrase {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.sign-up-link {
    color: white;
}

.button-sign-up-change {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
    margin-right: 25px;
    color: #fff;
    background-color: #5bc0de;
}

.button-jumbotron {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px !important;
    background-color: #5bc0de;
    border: none;
    color: white !important;
}

nav {
    margin-bottom: 0px !important;
    font-size: 15px;
}

.text-white {
    color: white !important;
}

.jumbotron-text {
    font-size: 40px !important;
    font-family: fantasy;
    font-weight: 100;
    padding-bottom: 30px;
    margin-top: 70px;
}

.header-row {
    padding-bottom: 150px !important;
}

/*===== end of main styles ======*/

/*--- GENERIC-----*/
a {
    cursor: pointer;
}

#signInModal,#signUpModal {
    background-color: #F8F8F8;
}

#signUpModal .modal-footer, #signInModal .modal-footer {
    margin-top: 10px;
    border-top: solid #e8e8e8 1px;
    margin-bottom: 5px;
}

#signUpModal.sign-up,#signUpModal.sign-in {
    border-radius: 0px !important;
    border: none;
}

.modal-body {padding-bottom: 0px;}

#signUpModal .modal-header, #signInModal .modal-header {
    /*border-bottom: solid #5bc0de 2px !important;*/
    background-color: #d9edf7 !important;
    padding-bottom: 5px !important;
}

/*------- SIGN UP MODAL STYLES -------*/

#signUpModal #signUpForm . form-group {
    margin-bottom: 15px !important;
}

#signUpModal input, #signUpModal select, #signUpModal span {
    border-radius: 0px !important;
}
#signUpModal .form-control { margin-bottom: 5px; }

#signUpModal .logo-text {
    padding-bottom: 5px !important;
}

#signUpModal label {
    color: #808080;
    font-weight: 100 !important;
    padding-left:5px;
    /*font-family: "Courier New";*/
}

#signUpModal .agreement-notice {
    margin-top: 30px ;
    color: #808080;
}

#signUpModal .submit-control {
    border-radius: 0px !important;
}
/*======== END OF SIGN UP MODAL STYLES ===========*/




/*------- SIGN IN MODAL STYLES ------------*/

#signInModal .profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#signInModal .stumbit-id {
    color: #fff !important;
    font-weight: 100 !important;
    border-radius: 0px !important;

}

#signInModal .btn-primary {
    border-radius: 0px !important;
    font-weight: 100 !important;
}

#signInModal input, #signInModal span {
    border-radius: 0px !important;
}
/*======= END OF SIGN IN MODAL STYLES =====*/


.login-img-block {
    margin-left: auto;
    margin-right: auto;
}