<!DOCTYPE html>
 <html>
   
        <head>
            <title>Stumbit Network | Connecting Businesses, connecting you...</title>
            <meta charset="utf-8">
            <meta http-equiv"X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
            <meta content="stumbit, job application, job search, Ghana, Africa" name="keywords"/>
            <meta content="Less work, Perfect work!" name="description"/>
            <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="companyForm_stylesheets/forms.css" />
            <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
            <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
         </head>
     
   <body>
    
        <div class="container">
           <div class="row"> 
               <section class="col-md-6 col-md-offset-0" id="form-body">   
           
                    <form name="uploadCompanyLogo" id="uploadCompanyLogo" enctype="multipart/form-data" action="/uploadCompanyLogo" method="post">
                        <legend id="part_two">Company Files Upload</legend>
          
      
                          <div class="form-group">
                                <label for="companyLogo">Upload Company Logo</label>
                                <div class="help-block" id="imageUploadHelp"> The file to be uploaded should be either a JPEG, PNG, JPG or GIF file with size not more than 500 kilobytes</div>
                                <input class="form-control" type="file" name="companyLogo" id="companyLogo" required/>   
                            </div>
            
   
                               <button type="submit" id="fileSubmit" class="btn btn-primary">Upload Logo</button>
  
                       </form>
                   </section>
              </div> <!-- end of row div -->
          </div> <!-- end of container div -->
       </body>
       
           <script type="text/javascript" src="jquery-2.2.0.min.js"></script> 
           <script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</html>  