<!DOCTYPE html>
 <html>
   
        <head>
            <title>Stumbit Network | Connecting Businesses, connecting you...</title>
            <meta charset="utf-8">
            <meta http-equiv"X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
            <meta content="stumbit, job application, job search, Ghana, Africa" name="keywords"/>
            <meta content="Less work, Perfect work!" name="description"/>
            <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="companyForm_stylesheets/forms.css" />
            <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
            <link rel="stylesheet" type="text/css" href="jquery-ui-1.12.1.custom/jquery-ui.css">
            <link rel="stylesheet" type="text/css" href="select2-master/dist/css/select2.css">
			      <link rel="stylesheet" type="text/css" href="intl-tel-input-master/build/css/intlTelInput.css" />
            <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
         </head>
 <body>
     
     
<div class="container">
   <div class="row">
     
        
      <section class="col-md-6 col-md-offset-0" id="form-body">
      
      <div id="form-header">UPDATE PROFILE</div>
    
    
    <form id="uploadCompanyRegistrationForm" target="_self" autocomplete="on" method="post" action="/companyProfileUpdatePage">
    
       <div id="purpose_note" class="help-block">All form fields not marked optional are required and must be filled.</div>
    
    <legend id="part_one">SECTION 1</legend>
        
      <div class="form-group">
        <label for="companyName">Name of Company/Institution/Organization</label>
        <input type="text" class="form-control" name="companyName" id="companyName"  autofocus required>
        
        
           
      </div>
      
      
      <div class="form-group" >
        <label for="sector">Sector</label>
        <select class="form-control"  id="sector" name="sector" required>
            <option value="" disabled selected>please select a sector in which your company/institution/organization falls</option>
            <option value="Government">Government</option>  
            <option value="Private">Private</option>
            <option value="Other">Other</option>    
        </select>
                
      </div>
      
      
      <div class="form-group">
        <label for="category">Category</label>
        <select  class="form-control"  id="category" name="category" required>
            <option value="" disabled selected>please select a category in which your company/institution/organization falls</option>
            <option value="Education">Education</option>
            <option value="Health">Health</option>
            <option value="Construction">Construction</option>
            <option value="Religious">Religious</option>
            <option value="Industrialization">Industrialization</option>
            <option value="Banking and Finanace">Banking and Finance</option>
            <option value="Marketing">Marketing</option>
            <option value="Transport">Transport</option>
            <option value="Web Technology">Web Technology</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Sports">Sports</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Media">Media</option>
            <option value="Education">Education</option>
            <option value="Telecommunication">Telecommunication</option>
            <option value="Others">Others</option>
        </select>
        
        
      </div>
      
<!--<div class="form-group">
				    <label for="nationality">Country of Location</label>
            <input class="form-control" pattern="[A-Za-z-\s]+$" type="text" id="country_of_location" name="country_of_location" list="countryLocationList"  required/>
            
            <datalist id="countryLocationList">
              <label for="alt_nationality">Or pick a country</label>
				    <select class="form-control" name="country_of_location" id="country_of_location" required>
            <option value="" disabled selected>select company's country of location</option>		    
				    <option>Algeria</option>			    
				    <option >Angola</option>				
				    <option >Benin</option>		  
				    <option >Botswana</option>   
				    <option >Burkina Faso</option>
				    <option >Burundi</option>
				    <option >Cameroon</option>		
				    <option >Cape Verde</option>
				    <option >Chad</option>
				    <option >Comoros</option>	    
				    <option >Congo, Democratic Republic of the</option>
				    <option >Congo, Republic of the</option>	   
				    <option >Cote d'Ivoire</option>	    
				    <option >Djibouti</option>
			      <option >Egypt</option>
				    <option >Equitorial Guinea</option>
				    <option >Eritrea</option>	 
	     		  <option >Ethiopia</option>
				    <option >Gabon</option>
				    <option >Gambia, The</option>
				    <option >Ghana</option>
				    <option >Guinea</option>
				    <option >Guinea-Bissau</option>
				    <option >Kenya</option>
				    <option >Lesotho</option>
				    <option >Liberia</option>
				    <option >Libya</option>
				    <option >Madagascar</option>
				    <option >Malawi</option>
				    <option >Mali</option>
				    <option >Mauritania</option>
				    <option >Mauritius</option>
				    <option >Morocco</option>
				    <option >Mozambique</option>
				    <option >Namibia</option>
				    <option >Niger</option>
				    <option >Nigeria</option>
				    <option >Rwanda</option>
				    <option >Sao Tome and Principe</option>
				    <option >Senegal</option>
				    <option >Seychelles</option>
				    <option >Sierra Leone</option>
				    <option >Somalia</option>
				    <option >South Africa</option>
				    <option >South Sudan</option>
				    <option >Sudan</option>
				    <option >Swaziland</option>
				    <option >Tanzania</option>
				    <option >Togo</option>
				    <option >Tunisia</option>
				    <option >Uganda</option>
				    <option >Zambia</option>
				    <option >Zimbabwe</option>
				    <option >Other</option>
				    </select>  
				   		  </datalist>
				  </div>-->
          
          <!-- Replacing this div of codes with the one below it ---->
          
          
				     <!--<div class="form-group" id="region_of_location">
				     	<label for="region">Region in which Company is Located</span></label>
               <input type="text" class="form-control" pattern="[A-Za-z-\s]+$" id="region_of_location" name="region_of_location" list="regionLocationList" placeholder="type region or state of residence if unavailable in list" required/>
               
              <datalist id="regionLocationList"> 
				     	<select class="form-control" name="region_of_location" id="region_of_location" >
                 
				     	<option value="" disabled selected>Select your Region of Residence</option>
				     	<option >Ashanti Region</option>
				     	<option >Brong Ahafo Region</option>
				     	<option >Central Region</option>
				     	<option >Eastern Region</option>
				     	<option >Greater Accra Region</option>
				     	<option >Northern Region</option>
				     	<option >Upper East Region</option>
				     	<option >Upper West Region</option>
				     	<option >Volta Region</option>
				     	<option >Western Region</option>
				     	</select>
               </datalist>
				   
				     </div> -->
             
             <div class="form-group">
               <label for="region">Region in which Company/Institution/Organization is Located</span></label>
              <select class="form-control" name="region_of_location" id="region_of_location" >
                <option value="" disabled selected>Select the region location of the company/institution/organization</option>
                <option >Ashanti Region</option>
                <option >Brong Ahafo Region</option>
                <option >Central Region</option>
                <option >Eastern Region</option>
                <option >Greater Accra Region</option>
                <option >Northern Region</option>
                <option >Upper East Region</option>
                <option >Upper West Region</option>
                <option >Volta Region</option>
                <option >Western Region</option>
				     	</select>
             </div>
      
     <div class="form-group">
        <label for="address">Main Address</label>
        <input type="text" class="form-control" name="address" id="address"  required>
        
      </div>
      
     <div class="form-group">
        <label for="alt_address">Alternate Address (Optional)</label>
        <input type="text" class="form-control" name="alt_address" id="alt_address" >
        
      </div>
      
      <div class="form-group" >
        <label for="website">Website (Optional)</label>
        <input type="text" class="form-control" id="website" name="website">
 
      </div>
      
     <div class="form-group" >
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        
        <div class="alert-warning" id="email_error"></div> 
       
     </div>
     
      
     <div class="form-group" >
        <label for="password">Create Password</label>
        <input type="password" class="form-control" id="password"  name="password" required>
        
        <div class="alert-info">Password must be at least 8 characters long and must contain at least  1 uppercase letter, 1 lowercase letter, 1 number and an optional special character</div>  
        <div class="alert-warning" id="password_error"></div>  
        
    </div>
      
     <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm_password"  name="confirm_password" required>
        <!--<div class="alert-info">Passwords in both fields must perfectly match</div>-->
        
        <div class="alert-warning" id="confirm_password_error"></div>
        
      </div>
      

    <div class="form-group">
		<label>Contact</label>
      <div class="form-group">
        <input type="tel" class="form-control"  id="phone" placeholder="Required" min="10" max="10" name="phone" required> 
        <div class="alert-warning" id="phone_error"></div>
      </div>
      
      <div class="form-group">
        <input type="tel" class="form-control" id="alt_phone" placeholder="Optional" min="10" max="10" name="alt_phone">
        <div class="alert-warning" id="alt_phone_error"></div>      
      </div>
	  
	</div>

                  
      <div class="form-group">
        <label for="description">About your amazing company or institution!</label>
        <textarea class="form-control"  id="description" placeholder="In a very short note, please throw more light on the amazing qualities and services offered by the company/institution. This will be shown to applicants for publicity." name="description" required></textarea>
                
      </div>
      
      
               <button type="submit" id="formSubmit" class="btn btn-primary">Update Profile</button>
       
      
      </form>
     
        
   </section>  <!-- end of form section -->
   
   <!-- current form data display section -->

   <section id="content-display" class="col-md-5 col-md-offset-1">
       
           <div id="content-display-header">SUMMARY OF CURRENT PROFILE</div>
            <!-- header for the content display -->
           
           <div>
                <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-institution"></i> {{{companyName}}}</li>
                <li class="list-group-item"><i class="fa fa-briefcase"></i> {{{sector}}}</li>
                <li class="list-group-item"><i class="fa fa-industry"></i> {{{category}}}</li>
                <li class="list-group-item"><i class="fa fa-map-pin"></i> {{{location}}}</li>
                <li class="list-group-item"><i class="fa fa-building"></i> {{{address}}}</li>
                <li class="list-group-item"><i class="fa fa-building"></i> (Alternate) {{{alternate_address}}}</li>
                <li class="list-group-item"><i class="fa fa-external-link"></i> {{{website}}}</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> {{{email}}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> {{{phone}}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (Alternate) {{{alternate_phone}}}</li>
                <li class="list-group-item"><i class="fa fa-commenting-o"></i> {{{description}}}</li>
                </ul>
           </div>
           
    </section>
    
           <!--<section id="signature"> 
         <p>Copyright &copy; <span id="signature_year"></span> | Stumbit Network</p>
        </section>-->
        

      
    
      
    </div>
</div>

  </body>
  
   <script type="text/javascript" src="jquery-2.2.0.min.js"></script> 
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
   <script type="text/javascript" src="sweetalert-master/dist/sweetalert.min.js"></script>
   <script type="text/javascript" src="select2-master/dist/js/select2.js"></script>
   <script type="text/javascript" src="intl-tel-input-master/build/js/intlTelInput.js"></script>
   <!--<script type="text/javascript" src="company_javascripts/phone_validation.js"></script>  
   <script type="text/javascript" src="company_javascripts/alt_phone_validation.js"></script>-->
   <script type="text/javascript" src="company_javascripts/password_validation.js"></script>
   <script type="text/javascript" src="company_javascripts/final_validation.js"></script>
   <script type="text/javascript" src="company_javascripts/confirm_password_validation.js"></script> 
   <script type="text/javascript" src="company_javascripts/email_validation.js"></script>
   <script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
 
 </html>
