<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
<h1 style="font-size: 30px; background: #eee;">
    COMPANY DASHBOARD.
</h1>

<h2>
    {{#unless activated}}
       <br> Hey, you have not been activated. please activate your account in order to use our features
    {{/unless}}
</h2>
 <a href="/company/jPost">Job Posting Section</a>
 <a href="/unknown">Unknown</a>
</body>
</html>