<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/company/jPost.css">
    <title>Job Posting</title>
</head>
<body>

<!-- Navigation section. Import navigation bar -->
<section>

</section>
<!-- End of navigation section-->

<section class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
            <section id="jPosting">

                {{!-- if job edit and edit are available--}}
                {{#and jobId edit}}
                  <form action="/company/jPost?jpId={{jobId}}&edit=t" method="post" id="jPostForm">
                {{else}}
                   <form action="/company/jPost" method="post" id="jPostForm">
                {{/and}}
                {{!-- end of if statement--}}

                    <header id="jbHead">
                        <h3>Job Posting - Part 1 </h3>
                    </header>
                    <section class="theRest">
                        <!-- hr class="section" -->
                        <section class="space">
                            <label class="field-title">Job Name/Title :</label>
                            <div class="field">
                                    <input type ="text" name="jobTitle" id="jobTitle" value="{{jobTitle}}" class="form-control" maxlength="100" required>
                            </div>

                            <span class="val-errors">
                                {{#if errTitle}}
                                    {{errTitle}}
                                {{/if}}
                            </span>
                        </section>

                        <hr class="section">
                        <section class="space">
                            <label class="field-title">Job Type :</label>
                            <div class="field">
                                <select name="jType" id="jType" class="short-length form-control">

                                    {{!-- if jobType is available--}}
                                    {{#if jobType}}
                                        {{#compare jobType "==" "full"}}
                                            <option value="full" selected>Full Time</option>
                                            <option value="part">Part time</option>
                                        {{else}}
                                            <option value="full">Full Time</option>
                                            <option value="part" selected>Part time</option>
                                        {{/compare}}
                                    {{!-- if jobType is not available then render normal page --}}
                                    {{else}}
                                        <option value="full" selected>Full Time</option>
                                        <option value="part">Part time</option>
                                    {{/if}}
                                    {{!-- end of if statement--}}
                                </select>
                            </div>

                            <span class="val-errors">
                                {{#if errJType}}
                                    {{errJType}}
                                {{/if}}
                            </span>
                        </section>

                        <hr class="section">
                        <section class="space">
                            <label class="field-title">Add Job Salary :</label>
                            <div class="field">
                                <select name="jAddSal" id="jAddSal" class="short-length form-control">
                                    {{#if jobAddSal}}
                                       {{#compare jobAddSal "==" "false"}}
                                           <option value="false" selected>No</option>
                                           <option value="true">Yes</option>
                                       {{else}}
                                           <option value="false">No</option>
                                           <option value="true" selected>Yes</option>
                                       {{/compare}}
                                    {{else}}
                                        <option value="false" selected>No</option>
                                        <option value="true">Yes</option>
                                    {{/if}}
                                </select>
                            </div>

                            <span class="val-errors">
                                {{#if errJAddSal}}
                                    {{errJAddSal}}
                                {{/if}}
                            </span>
                        </section>

                        {{!-- Deal with the toggling of salary field and its corresponding hr --}}
                        {{#if jobAddSal}}
                            {{#compare jobAddSal "==" "false"}}
                                <hr class="section toggle-sal">
                            <section class="space toggle-sal">
                            {{else}}
                                <hr class="section toggle-sal show">
                            <section class="space toggle-sal show">
                            {{/compare}}
                        {{else}}
                            <hr class="section toggle-sal">
                           <section class="space toggle-sal">
                        {{/if}}
                            {{!-- results will be shown --}}
                            <label class="field-title">Job Salary :</label>

                            <div class="field">
                                <table class="table-view">
                                    <tr>
                                        <th>Currency</th>
                                        <th>Amount/Range</th>
                                    </tr>
                                    <tr>
                                        <!-- Salary section -->
                                        <td>
                                            <input type="hidden" value="{{jobSalaryCurr}}" id="hidJSal">
                                            <select name="jSalCurr" id="jSalCurr" class="form-control">
                                                <option value="GHC" selected>GH₵</option>
                                                <option value="$">$</option>
                                                <option value="£">£</option>
                                                <option value="€">€</option>
                                                <option value="₣">₣</option>
                                                <option value="¥">¥</option>
                                                <option value="₹">₹</option>
                                            </select>
                                        </td>

                                        <!-- Amount section -->
                                        <td>
                                            <input type="text" name="jsalary" id="jsalary" value="{{jobSalary}}" class="form-control" maxlength="25">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <span class="val-errors"></span>
                        </section>

                        <hr class="section">
                        <section class="space">
                            <label class="field-title">Job Validity :</label>
                            <div class="field">
                                <input type="date" name="jValididty" id="jValidity" value="{{jobValidity}}" class="form-control" required>
                            </div>
                            <span class="val-errors">
                                {{#if errJVal}}
                                    {{errJVal}}
                                {{/if}}
                            </span>
                        </section>


                        <hr class="section">
                        <section class="space">
                            <label class="field-title">Job Description :</label>
                            <div class="field">
                        <textarea id="jDesc" name="jDesc" required class="form-control" maxlength="1000">{{jobDesc}}</textarea>
                            </div>

                            <p id="small-text">
                                Please provide some useful information about the job you are just about to post.
                            </p>

                            <span class="val-errors">
                                {{#if errJDesc}}
                                    {{errJDesc}}
                                {{/if}}
                            </span>

                        </section>

                        <section class="space button">
                            <input id="submit" type="submit" name="next" value="NEXT" class="btn btn-primary">
                        </section>
                    </section>
                    <div id="footer" style="text-align: center;">© 2016 Stumbit Network. All Rights Reserved.</div>
                </form>
            </section>

        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>


<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../generic/general.js"></script>
<script type="text/javascript" src="../javascript/company/jPost.js"></script>
</body>
</html>