<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/company/jPost.css">
    <title>Job Posting</title>
</head>
<body>

<!-- Navigation section. Import navigation bar -->
<section>

</section>
<!-- End of navigation section-->

<section class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
            <section id="jPosting">
                    <header id="jbHead">
                        <h3>Job Posting - Summary  </h3>
                    </header>
                    <section class="theRest">
                        {{results}}
                        <!-- summary -->
                        <section>
                            <ul>
                               {{!-- Show job information first --}}
                                <li>Job Title - {{jobTitle}}</li>
                                <li>Job Type - {{jobType}}</li>
                                <li>Job Salary - {{jobSalary}}</li>
                                <li>Job Validity - {{jobValidity}}</li>
                                <li>Job Description - {{jobDesc}}</li>
                            </ul>
                        </section>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Job Requirements</h3>
                            </div>
                            <div>
                                <ul>
                                    {{!-- The Other Arrays represent the requirement --}}
                                    {{#forEach requirements}}
                                        <li>{{fieldName}}</li>
                                    {{/forEach}}
                                </ul>
                            </div>
                        </div>
                        <!-- end of advanced requirements section -->
                        <section class="space button">
                            <a href="/company/jPost?jpId={{jobId}}&edit=t" title="Edit Form" class="btn btn-primary">BACK</a>
                            <a href="/company/viewJobs" title="Continue" class="btn btn-primary">CONTINUE</a>
                        </section>

                    </section>
                    <div id="footer" style="text-align: center;">© 2016 Stumbit Network. All Rights Reserved.</div>
            </section>

        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>


<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../generic/general.js"></script>
<!--<script type="text/javascript" src="../javascript/company/jPostR.js"></script>-->
</body>
</html>