<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/company/jPost.css">
    <title>Job Posting</title>
</head>
<body>

<!-- Navigation section. Import navigation bar -->
<section>

</section>
<!-- End of navigation section-->

<section class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
            <section id="jPosting">

                <form action="/company/jPostR?jpId={{jobId}}" method="post" id="jPostRForm">

                    <header id="jbHead">
                        <h3>Job Posting - Part 2  </h3>
                    </header>
                    <section class="theRest">

                        <!-- this is the basic requirements section -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Our Basic Requirements</h3>
                            </div>
                            <div class="">
                                <!-- table -->
                                <table class="table">
                                    <tr>
                                        <th>Field Name</th>
                                        <th> Add/Remove</th>
                                    </tr>

                                    <!-- Actual requirements -->
                                    {{!-- if basic  requirement is available --}}
                                    {{#if basicRequirements}}
                                        <tr>
                                            <td>Full Name</td>
                                            <td>
                                                {{!-- Render a block if fullName is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "fullName"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="fullName" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="fullName" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="fullName" value="on"
                                                                   autocomplete="off"><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="fullName" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>
                                                {{!-- Render a block if age is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "age"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="age" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="age" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="age" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="age" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sex</td>
                                            <td>
                                                {{!-- Render a block if sex is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "sex"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="sex" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="sex" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>

                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="sex" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="sex" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marital Status</td>
                                            <td>
                                                {{!-- Render a block if maritalStat is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "maritalStat"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="maritalStat" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="maritalStat" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="maritalStat" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="maritalStat" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nationality</td>
                                            <td>
                                                {{!-- Render a block if nationality is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "nationality"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="nationality" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="nationality" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="nationality" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="nationality" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Current Region</td>
                                            <td>
                                                {{!-- Render a block if current Region is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "curReg"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="curReg" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="curReg" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="curReg" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="curReg" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Current town/City</td>
                                            <td>
                                                {{!-- Render a block if current City is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "curCity"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="curCity" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="curCity" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="curCity" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="curCity" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main Address</td>
                                            <td>
                                                {{!-- Render a block if mainAddress is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "mainAddress"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="mainAddress" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="mainAddress" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="mainAddress" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="mainAddress" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main phone</td>
                                            <td>
                                                {{!-- Render a block if mainPhone is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "mainPhone"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="mainPhone" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="mainPhone" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="mainPhone" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="mainPhone" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Alternative phone</td>
                                            <td>
                                                {{!-- Render a block if altPhone is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "altPhone"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="altPhone" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="altPhone" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="altPhone" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="altPhone" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email Address </td>
                                            <td>
                                                {{!-- Render a block if otherEmail is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "otherEmail"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="otherEmail" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="otherEmail" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="otherEmail" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="otherEmail" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Level of education</td>
                                            <td>
                                                {{!-- Render a block if eduLevel is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "eduLevel"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="eduLevel" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="eduLevel" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="eduLevel" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="eduLevel" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Occupational Status</td>
                                            <td>
                                                {{!-- Render a block if occupStat is found in the basic requirment array --}}
                                                {{#inArray basicRequirements "occupStat"}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="occupStat" value="on"
                                                                   autocomplete="off" checked><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="occupStat" value="off"
                                                                   autocomplete="off"><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{else}}
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary ">
                                                            <input type="radio" name="occupStat" value="on"
                                                                   autocomplete="off" ><i class="fa fa-plus"></i>
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="occupStat" value="off"
                                                                   autocomplete="off" checked><i class="fa fa-remove"></i>
                                                        </label>
                                                    </div>
                                                {{/inArray}}
                                                {{!-- End of inArray --}}
                                            </td>
                                        </tr>
                                        {{!-- If basic requirement is not availabe --}}
                                    {{else}}
                                        <tr>
                                            <td>Full Name</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="fullName" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="fullName" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="age" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="age" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sex</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="sex" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="sex" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marital Status</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="maritalStat" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="maritalStat" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nationality</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="nationality" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="nationality" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Current Region</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="curReg" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="curReg" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Current town/City</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="curCity" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="curCity" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main Address</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="mainAddress" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="mainAddress" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main phone</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="mainPhone" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="mainPhone" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Alternative phone</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="altPhone" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="altPhone" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email Address </td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="otherEmail" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="otherEmail" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Level of education</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="eduLevel" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="eduLevel" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Occupational Status</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="occupStat" value="on"
                                                               autocomplete="off" checked><i class="fa fa-plus"></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="occupStat" value="off"
                                                               autocomplete="off"><i class="fa fa-remove"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                    {{/if}}
                                    {{!-- End of if basic requirement is available --}}
                                </table>
                            </div>
                        </div>
                        <!-- end of basic predefined requirements for application -->

                     <!-- second panel. this is where we set our advanced requirements -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Advanced Requirements</h3>
                            </div>
                            <table class="table" id="adv-req">
                               <tr>
                                   <th>
                                     <i class="btn btn-primary fa fa-plus add-requirements" title="Add New Requirement"></i>
                                   </th>
                                   <th>Field Name</th>
                                   <th>Type</th>
                                   <th>Add/Remove</th>
                               </tr>

                                {{#if advRequirements}}
                                   {{!-- loop through array content and print out form --}}
                                   {{#forEach advRequirements}}
                                       <tr class="actual">
                                           <td></td>
                                           <td>
                                                {{!-- add 1 to index --}}
                                             <input type="text" name="field_{{index}}" class="form-control validate-input" value="{{fieldName}}" placeholder="input">
                                           </td>
                                           <td>
                                               {{!-- add 1 to index --}}
                                               <select name="fType_{{index}}" class="form-control validate-select">
                                                   {{#compare acceptedType "==" "numb"}}
                                                       <option value="none" >None</option>
                                                       <option value="numb" selected>Number</option>
                                                       <option value="numbRange">Number Range</option>
                                                       <option value="word">Word(s)</option>
                                                       <option value="YesNo">Yes/No Reply</option>
                                                       <option value="file">File(pdf)</option>
                                                    {{else}}
                                                       {{#compare acceptedType "==" "numbRange"}}
                                                           <option value="none" >None</option>
                                                           <option value="numb">Number</option>
                                                           <option value="numbRange" selected>Number Range</option>
                                                           <option value="word">Word(s)</option>
                                                           <option value="YesNo">Yes/No Reply</option>
                                                           <option value="file">File(pdf)</option>
                                                       {{else}}
                                                           {{#compare acceptedType "==" "word"}}
                                                               <option value="none">None</option>
                                                               <option value="numb">Number</option>
                                                               <option value="numbRange">Number Range</option>
                                                               <option value="word" selected>Word(s)</option>
                                                               <option value="YesNo">Yes/No Reply</option>
                                                               <option value="file">File(pdf)</option>
                                                           {{else}}
                                                               {{#compare acceptedType "==" "YesNo"}}
                                                                   <option value="none">None</option>
                                                                   <option value="numb">Number</option>
                                                                   <option value="numbRange">Number Range</option>
                                                                   <option value="word" >Word(s)</option>
                                                                   <option value="YesNo" selected>Yes/No Reply</option>
                                                                   <option value="file">File(pdf)</option>
                                                               {{else}}
                                                                   {{#compare acceptedType "==" "file"}}
                                                                       <option value="none">None</option>
                                                                       <option value="numb">Number</option>
                                                                       <option value="numbRange">Number Range</option>
                                                                       <option value="word" >Word(s)</option>
                                                                       <option value="YesNo">Yes/No Reply</option>
                                                                       <option value="file" selected>File(pdf)</option>
                                                                   {{else}}
                                                                       <option value="none" selected>None</option>
                                                                       <option value="numb">Number</option>
                                                                       <option value="numbRange">Number Range</option>
                                                                       <option value="word" >Word(s)</option>
                                                                       <option value="YesNo">Yes/No Reply</option>
                                                                       <option value="file">File(pdf)</option>
                                                                   {{/compare}}
                                                               {{/compare}}
                                                           {{/compare}}
                                                       {{/compare}}
                                                    {{/compare}}
                                               </select>
                                           </td>
                                           <td>
                                               {{!-- add 1 to index --}}
                                               <div class="btn-group" data-toggle="buttons">
                                                   <label class="btn btn-primary active">
                                                     <input type="radio" name="add_{{index}}" value="on" autocomplete="off" checked><i class="fa fa-plus"></i>
                                                   </label>
                                                   <label class="btn btn-primary removeReq">
                                                     <input type="radio" name="add_{{index}}" value="off" autocomplete="off" ><i class="fa fa-remove"></i>
                                                   </label>
                                               </div>
                                           </td>
                                       </tr>

                                   {{/forEach}}
                                {{/if}}

                            </table>

                            <!-- this field keeps track of the row number.default value is 0. -->

                            {{!-- set default value to advanced requirement size if available --}}
                            {{#if advancedReqSize}}
                                <input type="hidden" id="row_no" value="{{advancedReqSize}}">
                            {{else}}
                                <input type="hidden" id="row_no" value="0">
                            {{/if}}
                        </div>
                     <!-- end of advanced requirements section -->
                        <section class="space button">
                            <a href="/company/jPost?jpId={{jobId}}" title="Go back to previous form" class="btn btn-primary">BACK</a>
                            <input id="submit" type="submit" name="next" value="NEXT" class="btn btn-primary">
                        </section>

                    </section>
                    <div id="footer" style="text-align: center;">© 2016 Stumbit Network. All Rights Reserved.</div>
                </form>
            </section>

        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>


<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../generic/general.js"></script>
<script type="text/javascript" src="../javascript/company/jPostR.js"></script>
</body>
</html>