/*form validation styles*/

/* ========== FORM VALIDATION STYLES  ============ */
/* extra css for any invalid input field@signUp*/
.invalid-input {
    border-left: 5px solid #a94442 !important; /* red */
}

/* validation styles for input,select boxes*/
input.ng-invalid.ng-dirty, select.ng-invalid.ng-touched {
    border-left: 5px solid #a94442; /* red */
}

/* validation styles for input,select boxes*/
input.ng-valid, select.ng-valid{
    border-left: 5px solid #42A948; /* green */
}

/*reducing paddings on alerts.*/
form .alert {
    padding-top:5px;
    padding-bottom:5px;
}