<!-- alert for error message. -->
<app-error-alert *ngIf="serverErrorEncountered">
  {{serverErrorMsg}} <strong>Please try again </strong>
</app-error-alert>

<!-- signup form -->
<form #signUpForm="ngForm" (ngSubmit)="onSubmitSignUp()" id="signUpForm" *ngIf="!isSignUpStage2">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" placeholder="Your Email" type="email" ngModel
           required  email (blur)="updateFormState('email')"
           [ngClass]="{'invalid-input':!signUpFormState.email.isValid}">
    <div *ngIf="!signUpFormState.email.isValid" class="alert alert-danger" role="alert">
      {{signUpFormState.email.msg}}
    </div>

  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control" name="password" placeholder="Password" type="password" ngModel
           required pattern="{{passwordRegex}}" minlength="8" (blur)="updateFormState('password')">
    <div *ngIf="!signUpFormState.password.isValid" class="alert alert-danger" role="alert">
      {{signUpFormState.password.msg}}
    </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input class="form-control" name="retypePassword" placeholder="Confirm Password" type="password" ngModel
           required pattern="{{passwordRegex}}" minlength="8" (blur)="updateFormState('retypePassword')"
           [ngClass]="{'invalid-input':!signUpFormState.retypePassword.isValid}">
    <div *ngIf="!signUpFormState.retypePassword.isValid" class="alert alert-danger" role="alert">
      {{signUpFormState.retypePassword.msg}}
    </div>
  </div>
  <div class="form-group">
    <label>Register as</label>
    <select class="form-control" name="registrationType" ngModel required (blur)="updateFormState('registrationType')">
      <option value="applicant"> Applicant</option>
      <option value="company"> Company</option>
    </select>
    <div *ngIf="!signUpFormState.registrationType.isValid" class="alert alert-danger" role="alert">
      {{signUpFormState.registrationType.msg}}
    </div>
  </div>
  <div class="agreement-notice">
    By Signing up, you agree to the <a href="#" class="nav-link">Terms and Conditions</a> of Stumbit Network.
  </div>
  <button class="btn btn-lg btn-info btn-block submit-control" type="submit"
          [disabled]="!signUpForm.valid  || !signUpFormState.retypePassword.isValid || !signUpFormState.email.isValid">
    Sign up
  </button>
</form><!-- end of form-->
<div class="signUp-email-sect" *ngIf="isSignUpStage2">
  <p *ngIf="isEmailSent">A verification link has been sent to your email account.<br>
    You will find it in either your inbox or spam folder.
  </p>
  <p *ngIf="!isEmailSent"> Your account needs to be activated.
    <br> Please click on this button to send a verification link to your email account.
  </p><br>
  <a (click)="resendEmailMsg()" title="Send Email" class="btn btn-success">
    Send verification link
  </a>
</div>
