<div class="container">
	<div class="row centered-form">
		<div class="col-xs-8">
			<div class="panel panel-default form_body">
				<div class="panel-heading">
					<h3 class="panel-title">Basic Information</h3>
				</div>
				<div class="section-notice">
					<p class="small">Please provide basic details about your company to help us set you up and going</p>
					<p class="small">All form fields marked with <span class="form-required"><strong>*</strong></span> are required</p>
				</div>
				<div class="panel-body">
					<form role="form">
						<!-- Name div-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Company Name</label>
								<div class="form-group">
									<input type="text" required name="first_name" id="company_name" class="form-control input-sm" placeholder="Company Name">
								</div>
							</div>
						</div>
						<!-- End of name div-->

						<!-- Email div-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Company Email</label>
								<div class="form-group">
									<input type="text" required name="company_email" id="company_email" class="form-control input-sm" placeholder="Company email">
								</div>
							</div>
						</div>
						<!-- End of email div-->

						<!-- address-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Postal Address</label>
								<div class="form-group">
									<input type="text" required name="first_name" id="postal_address" class="form-control input-sm" placeholder="Postal Address">
								</div>
							</div>
						</div>
						<!-- end of address-->

						<!-- phone-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Company Mobile Number</label>
								<div class="form-group">
									<input type="text" required name="company_phone_number" id="company_phone_number" class="form-control input-sm" placeholder="company mobile number">
								</div>
							</div>
						</div>
						<!-- end of phone-->

						<!-- alt phone-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Alternate Company Mobile Number</label>
								<div class="form-group">
									<input type="text" name="alt_company_phone_number" id="alt_company_phone_number" class="form-control input-sm" placeholder="alternate company mobile number">
								</div>
							</div>
						</div>
						<!-- end of phone-->

						<!-- location -->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>City/Town</label>
								<div class="form-group">
									<input type="text" required name="location" id="location" class="form-control input-sm" placeholder="location of company">
								</div>
							</div>
						</div>
						<!-- end of location-->

						<!-- sector and category-->
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Sector</label>
								<div class="form-group">
									<select name="sector"  id="sector" class="form-control">
										<option value="private" default selected>Private</option>
										<option value="public">Public</option>
										<option value="other">Other</option>
									</select>
								</div>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Category</label>
								<div class="form-group">
									<select name="category" id="category" class="form-control">
										<option value="manufacturing" default selected>Manufacturing</option>
										<option value="Trade">Trade</option>
										<option value="academic">Academic Institution</option>
										<option value="building">Building and Construction</option>
										<option value="health">Health</option>
										<option value="Banking">Banking and Finance</option>
										<option value="religious">Religious Institution</option>
										<option value="other">other</option>
									</select>
								</div>
							</div>
						</div>
						<!-- end of sector and category-->

						<!-- to be shown only if other is shown-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<input type="text" name="sector_other" id="sector_other" class="form-control input-sm" placeholder="Specify if Other (Sector)">
								</div>
							</div>
						</div>

						<!-- to be shown only if other is shown-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<input type="text" name="category_other" id="category_other" class="form-control input-sm" placeholder="Specify if Other (Category)">
								</div>
							</div>
						</div>
						<!-- end of other selections optional input tag-->

						<!-- location -->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Website</label>
								<div class="form-group">
									<input type="text" name="company_website" id="company_website" class="form-control input-sm" placeholder="website if any">
								</div>
							</div>
						</div>
						<!-- end of location-->

						<!-- location -->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Additional Bio</label>
								<div class="form-group">
									<textarea type="text" name="company_bio" id="company_bio" class="form-control input-sm" placeholder="tell us a bit extra about the company in about 250 words"></textarea>
								</div>
							</div>
						</div>
						<!-- end of location-->

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<input type="submit" value="Save" class="btn btn-info btn-block">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
