<!DOCTYPE html>
<html>
    
        <head>
			<title>Stumbit Network | Connecting Businesses, connecting you...</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
			<meta content="stumbit, job application, job search, Ghana, Africa" name="keywords"/>
			<meta content="Less work, Perfect work!" name="description"/>
			<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
			<link rel="stylesheet" type="text/css" href="applicantForm_stylesheets/forms.css" />
			<link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css" />
			<link rel="stylesheet" type="text/css" href="jquery-ui-1.12.1.custom/jquery-ui.css" />
			<link rel="stylesheet" type="text/css" href="select2-master/dist/css/select2.css" />
			<link rel="stylesheet" type="text/css" href="intl-tel-input-master/build/css/intlTelInput.css" />
			<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
       </head>
<body>
    <div class="container">
      <div class="row">
     
     
      <section class="col-md-6 col-md-offset-0" id="form-body">
         <div id="form-header">UPDATE PERSONAL PROFILE</div>

    <form id="uploadApplicantRegistrationForm"  target="_self" autocomplete="on" method="post" action="/applicantProfileUpdatePage">
    
                           <div id="purpose_note" class="help-block">Please complete these basic personal profile set up to save you from providing these information several times when filling application forms. These information will be attached to every application form you fill and submitted to the company to which you applied. All form fields not marked optional are required and must be filled.</div>
						   
        <legend id="part_one">SECTION 1</legend> 
		

        <div id="section_one">
          
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" pattern="[A-Za-z-\s]+$" id="firstName" required  autofocus >
      </div>
      
       <div class="form-group">
        <label for="middleName">Middle Name (Optional)</label>
        <input type="text" class="form-control" pattern="[A-Za-z-\s]+$" name="middleName" id="middleName" >
      </div>
      
      <div class="form-group">
        <label for="surName">Surname</label>
        <input type="text" class="form-control" pattern="[A-Za-z-\s]+$" name="surName" id="surName" required >   
      </div>
      
      
				  <div class="form-group">
        
                    <label>Birthday</label>
					   <!--<div class="help-block">If you find difficulties in viewing the month in english when english is auto-selected, please select any other language and select english again</div>-->
					      <div class="form-inline"> 
							  <select id="locale" class="form-control">
								    <option disabled selected="selected">Pick preferred Calendar mode</option>
								  	<option value="en-GB">English</option>
				                    <option value="tw-GH">Twi</option>
									<option value="fr">French (Fran&ccedil;ais)</option>
								    <option value="ar">Arabic (&#8235;(&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</option>
									<!--<option value="zh-TW">Chinese Traditional (&#32321;&#39636;&#20013;&#25991;)</option>-->
							  </select>
							  
						 <input type="text" class="form-control" id="birthdate" name="birthdate" placeholder="choose birthday" required>
				   	     
					  </div>	  
						 <!--<div class="form-inline">
							<select class="form-control" name="month" id="month" type="text" required >
							<option value="" disabled selected>Choose month</option>		
							<option id="january" value="january">January</option>
							<option id="february" value="february">February</option>
							<option id="march" value="march">March</option>
							<option id="april" value="april">April</option>
							<option id="may" value="may">May</option>
							<option id="june" value="june">June</option>
							<option id="july" value="july">July</option>
							<option id="august" value="august">August</option>
							<option id="september" value="september">September</option>
							<option id="october" value="october">October</option>
							<option id="november" value="november">November</option>
							<option id="december" value="december">December</option>
							</select>

							<select class="form-control" name="day" id="day" type="number" required>
							<option value="" disabled selected>Choose day</option>			
							</select>
						
							<select class="form-control" name="year" id="year" type="number" required>
							<option value="" disabled selected> Choose year</option>   
							</select>
				  	</div>-->
					  </div>
					  	  
                    
      
  				  <div class="form-group">
				  	 <strong>Sex</strong>
				  	 <select type="text" id="sex" name="sex" class="form-control" required>
				  	 <option value="" disabled selected>  select your sex  </option>	
				  	 <option value="male">Male</option>
				  	 <option value="female">Female</option>
				  	 <option value="other">Other</option>			    
				  	 </select> 			  	 
				  </div>
				  
			<!--COMMENTED OUT BECAUSE THE ONE JUST BELOW IT DOES THE SAME THING -------------->	  
          
		  <!--<div class="form-group">
				    <label for="nationality">Country of citizenship</label>
                   <input class="form-control" pattern="[A-Za-z-\s]+$" type="text" id="nationality" name="nationality" list="countrylist" required />
            
            <datalist id="countrylist">
					<label for="alt_nationality">Or pick a country</label>
					  <select class="form-control" name="nationality" id="nationality" >
					        <option value="" disabled selected>select your country of citizenship</option>		    
							<option>Algeria</option>			    
							<option >Angola</option>				
							<option >Benin</option>		  
							<option >Botswana</option>   
							<option >Burkina Faso</option>
							<option >Burundi</option>
							<option >Cameroon</option>		
							<option >Cape Verde>Cape Verde</option>
							<option >Chad</option>
							<option >Comoros</option>	    
							<option >Congo, Democratic Republic of the</option>
							<option >Congo, Republic of the</option>	   
							<option >Cote d'Ivoire</option>	    
							<option >Djibouti</option>
						    <option >Egypt</option>
							<option >Equitorial Guinea</option>
							<option >Eritrea</option>	 
						    <option >Ethiopia</option>
							<option >Gabon</option>
							<option >Gambia, The</option>
							<option >Ghana</option>
							<option >Guinea</option>
							<option >Guinea-Bissau</option>
							<option >Kenya</option>
							<option >Lesotho</option>
							<option >Liberia</option>
							<option >Libya</option>
							<option >Madagascar</option>
							<option >Malawi</option>
							<option >Mali</option>
							<option >Mauritania</option>
							<option >Mauritius</option>
							<option >Morocco</option>
							<option >Mozambique</option>
							<option >Namibia</option>
							<option >Niger</option>
							<option >Nigeria</option>
							<option >Rwanda</option>
							<option >Sao Tome and Principe</option>
							<option >Senegal</option>
							<option >Seychelles</option>
							<option >Sierra Leone</option>
							<option >Somalia</option>
							<option >South Africa</option>
							<option >South Sudan</option>
							<option >Sudan</option>
							<option >Swaziland</option>
							<option >Tanzania</option>
							<option >Togo</option>
							<option >Tunisia</option>
							<option >Uganda</option>
							<option >Zambia</option>
							<option >Zimbabwe</option>
							<option >Other</option>
						</select>  
				   </datalist>
			  </div>-->
			  
			  <div class="form-group">
				  <label for="nationality">Country of citizenship</label>
				  					  <select class="form-control" name="nationality" id="nationality" >
					        <option value="" disabled selected>select your country of citizenship</option>		    
							<option>Algeria</option>			    
							<option >Angola</option>				
							<option >Benin</option>		  
							<option >Botswana</option>   
							<option >Burkina Faso</option>
							<option >Burundi</option>
							<option >Cameroon</option>		
							<option >Cape Verde</option>
							<option >Chad</option>
							<option >Comoros</option>	    
							<option >Congo, Democratic Republic of the</option>
							<option >Congo, Republic of the</option>	   
							<option >Cote d'Ivoire</option>	    
							<option >Djibouti</option>
						    <option >Egypt</option>
							<option >Equitorial Guinea</option>
							<option >Eritrea</option>	 
						    <option >Ethiopia</option>
							<option >Gabon</option>
							<option >Gambia, The</option>
							<option >Ghana</option>
							<option >Guinea</option>
							<option >Guinea-Bissau</option>
							<option >Kenya</option>
							<option >Lesotho</option>
							<option >Liberia</option>
							<option >Libya</option>
							<option >Madagascar</option>
							<option >Malawi</option>
							<option >Mali</option>
							<option >Mauritania</option>
							<option >Mauritius</option>
							<option >Morocco</option>
							<option >Mozambique</option>
							<option >Namibia</option>
							<option >Niger</option>
							<option >Nigeria</option>
							<option >Rwanda</option>
							<option >Sao Tome and Principe</option>
							<option >Senegal</option>
							<option >Seychelles</option>
							<option >Sierra Leone</option>
							<option >Somalia</option>
							<option >South Africa</option>
							<option >South Sudan</option>
							<option >Sudan</option>
							<option >Swaziland</option>
							<option >Tanzania</option>
							<option >Togo</option>
							<option >Tunisia</option>
							<option >Uganda</option>
							<option >Zambia</option>
							<option >Zimbabwe</option>
							<option >Other</option>
						</select>  
			  </div>
   
   <!-- COUNTRY OF RESIDENCE IS NOT NEEDED AT THIS POINT OF THE PROJECT COS WE FOCUSING ON GHANA FIRST ------ > 
	      
    <!--<div class="form-group">
				    <label for="country_of_residence">Country of residence</label>
                  <input class="form-control" type="text" pattern="[A-Za-z-\s]+$" id="country_of_residence" name="country_of_residence" list="countrylist" required />
            
           <datalist id="countrylist">
              <label for="country_of_residence">Or pick a country</label>
				 <select class="form-control" name="country_of_residence" id="country_of_residence" >
                    <option value="" disabled selected>select your country of residence</option>		    
				    <option>Algeria</option>			    
				    <option >Angola</option>				
				    <option >Benin</option>		  
				    <option >Botswana</option>   
				    <option >Burkina Faso</option>
				    <option >Burundi</option>
				    <option >Cameroon</option>		
				    <option >Cape Verde</option>
				    <option >Chad</option>
				    <option >Comoros</option>	    
				    <option >Congo, Democratic Republic of the</option>
				    <option >Congo, Republic of the</option>	   
				    <option >Cote d'Ivoire</option>	    
				    <option >Djibouti</option>
			        <option >Egypt</option>
				    <option >Equitorial Guinea</option>
				    <option >Eritrea</option>	 
	     		    <option >Ethiopia</option>
				    <option >Gabon</option>
				    <option >Gambia, The</option>
				    <option >Ghana</option>
				    <option >Guinea</option>
				    <option >Guinea-Bissau</option>
				    <option >Kenya</option>
				    <option >Lesotho</option>
				    <option >Liberia</option>         
				    <option >Libya</option>
				    <option >Madagascar</option>
				    <option >Malawi</option>
				    <option >Mali</option>
				    <option >Mauritania</option>
				    <option >Mauritius</option>
				    <option >Morocco</option>
				    <option >Mozambique</option>
				    <option >Namibia</option>
				    <option >Niger</option>
				    <option >Nigeria</option>
				    <option >Rwanda</option>
				    <option >Sao Tome and Principe</option>
				    <option >Senegal</option>
				    <option >Seychelles</option>
				    <option >Sierra Leone</option>
				    <option >Somalia</option>
				    <option >South Africa</option>
				    <option >South Sudan</option>
				    <option >Sudan</option>
				    <option >Swaziland</option>
				    <option >Tanzania</option>
				    <option >Togo</option>
				    <option >Tunisia</option>
				    <option >Uganda</option>
				    <option >Zambia</option>
				    <option >Zimbabwe</option>
				    <option >Other</option>
			    </select>  
			  </datalist>
		    </div>-->
			
<!-------------- COMMENTED FOR THE MEAN TIME ...... COS I WANT TO TRY OUT THE IMMEDIATE ONE BELOW ...BOTH DOES THE SAME THING    -->
		<!--<div class="form-group">
				     	<label for="region">Region/State/Province of residence</label>
                        <input type="text" class="form-control" pattern="[A-Za-z-\s]+$" id="region" name="region" list="regionlist" placeholder="type region or state of residence if unavailable in list" required/>
               
              <datalist id="regionlist"> 
				  <label for="region">Or pick a region</label>
				     	<select class="form-control" name="region" id="region">
							<option value="" disabled selected>Select your Region of Residence</option>
							<option >Ashanti Region</option>
							<option >Brong Ahafo Region</option>
							<option >Central Region</option>
							<option >Eastern Region</option>
							<option >Greater Accra Region</option>
							<option >Northern Region</option>
							<option >Upper East Region</option>
							<option >Upper West Region</option>
							<option >Volta Region</option>
							<option >Western Region</option>
				     	</select>
               </datalist>
       </div>  -->
	   
	   
	   <div class="form-group">
		     <label for="region">Region of residence</label>
			 				     	<select class="form-control" name="region" id="region">
							<option value="" disabled selected>Select your Region of Residence</option>
							<option >Ashanti Region</option>
							<option >Brong Ahafo Region</option>
							<option >Central Region</option>
							<option >Eastern Region</option>
							<option >Greater Accra Region</option>
							<option >Northern Region</option>
							<option >Upper East Region</option>
							<option >Upper West Region</option>
							<option >Volta Region</option>
							<option >Western Region</option>
				     	</select>
			 
		   </div>
             
				  <div class="form-group">
						<label for="city">City/Town of residence</label>
						<input type="text" class="form-control" name="city" id="city" required>           
				  </div>      
      
     <div class="form-group">
        <label for="address">Main Address</label>
        <input type="text" class="form-control" name="address" id="address"  required>
      </div>
      
     <div class="form-group">
        <label for="alt_address">Alternate Address (Optional)</label>
        <input type="text" class="form-control" name="alt_address" id="alt_address" >
     </div>
            
    <div class="form-group">
		<label>Contact Numbers</label>
      <div class="form-group">
        <input type="tel" class="form-control"  id="phone" placeholder="Required" min="10" max="10" name="phone" required> 
        <div class="alert-warning" id="phone_error"></div>
      </div>
      
      <div class="form-group">
        <input type="tel" class="form-control" id="alt_phone" placeholder="Optional" min="10" max="10" name="alt_phone">
        <div class="alert-warning" id="alt_phone_error"></div>      
      </div>
	  
	</div>
      
</div> <!-- ending div for section 1 --> 
        
          <!-- END OF SECTION 1 -->
          
          <legend id="part_two">SECTION 2</legend>
              <div id="purpose_note" class="help-block"> Email and passwords setup and other basic information about you that companies might want to know.</div>
          
            <div id="section_two">
           
           <div class="form-group" >
				<label for="email">Email</label>
				<input type="email" class="form-control"  id="email" name="email" required>
				
				<div class="alert-warning" id="email_error"></div> 
           </div>
     
      
     <div class="form-group" >
        <label for="password">Create Password</label>
        <input type="password" class="form-control" id="password"  name="password" required>
        
        <div class="alert-info help-block">Password must be at least 8 characters long and must contain at least  1 uppercase letter, 1 lowercase letter, 1 number and an optional special character</div>  
        <div class="alert-warning" id="password_error"></div>  
        
    </div>
      
     <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm_password"  name="confirm_password" placeholder="re-enter password" required>
        <!--<div class="alert-info help-block">Passwords in both fields must perfectly match</div>-->
        
        <div class="alert-warning" id="confirm_password_error"></div>
        
      </div>
      

      
      <div class="form-group">
         <label for="level_education">Level of Education</label>
         <select class="form-control" id="level_education" name="level_education" required>
            <option disabled selected>Select your level of education</option>
            <option value="BECE Certificate">BECE Certificate holder</option>
            <option value="Wassce Certificate">WASSCE Certificate holder</option>
			<option value="Some University Courses">Some University Courses</option>
            <option value="First Degree Holder">University First Degree Holder (Undergraduate)</option>
            <option value="Second Degree Holder">University Second Degree Holder (Masters)</option>
			<option value="Third Degree Holder">University third Degree Holder (PhD)</option>
            <option value="Diploma">HND Holder</option>
			<option value="None">None</option>
            <option value="Other">Other</option>  
           </select> 
      </div>
      
				   <div class="form-group">
				   	 <strong>Occupational status</strong>
				   	 <select id="occupation_status" name="occupation_status" class="form-control" required>
				     <option value="" disabled selected>  select your occupational status </option>	
                     <option value="Employed">Employed</option>
                     <option value="Unemployed">Unemployed</option>
                     <option value="Student">Student</option>
                     <option value="Other">Other</option>
				   	 </select>
				  </div>
				  
				   <div class="form-group">
				   	 <strong>Marital Status</strong>
				   	 <select id="marital_status" name="marital_status" class="form-control" required>
				     <option value="" disabled selected>  select your marital status </option>	
                     <option value="Single">Single</option>
                     <option value="Married">Married</option>
                     <option value="Divorced">Divorced</option>
                     <option value="Other">Other</option>
				   	 </select>
				  </div>
				  				  
          </div>
          <!--END OF SECTION 2 -->
          
        
       <button type="submit" id="formSubmit" class="btn btn-primary">Update Profile</button> 
       
    </form> 
		 
      </section>  <!-- end of form section -->
	  
	 <!-- current form data display section -->  
      
   <section id="content-display" class="col-md-5 col-md-offset-1">
       
           <div id="content-display-header">SUMMARY OF CURRENT PROFILE</div>
            <!-- header for the content display -->
           
           <div>
                <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-edit"></i> {{{firstName}}} {{{middleName}}} {{{surName}}}</li>
                <li class="list-group-item"><i class="fa fa-birthday-cake"></i> {{{birthdate}}}</li>
                <li class="list-group-item"><i class="fa fa-user"></i> {{{sex}}}</li>
                <li class="list-group-item"><i class="fa fa-globe"></i> {{{nationality}}}</li>
                <li class="list-group-item"><i class="fa fa-map-pin"></i> {{{city}}},  {{{region}}}</li>
                <li class="list-group-item"><i class="fa fa-home"></i> {{{address}}}</li>
                <li class="list-group-item"><i class="fa fa-home"></i> (Alternate) {{{alt_address}}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> {{{phone}}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (Alternate) {{{alt_phone}}}</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> {{{email}}}</li>
                <li class="list-group-item"><i class="fa fa-graduation-cap"></i> {{{level_education}}}</li>
                <li class="list-group-item"><i class="fa fa-user-secret"></i> {{{occupation_status}}}</li>
                <li class="list-group-item"><i class="fa fa-support"></i> {{{maritalStatus}}}</li>				
                </ul>
           </div>
           
    </section>
      
             <!--<section id="signature" class="col-md-8 col-md-offset-1"> 
         <p>Copyright &copy; <span id="signature_year"></span> | Stumbit Network</p>
        </section>-->
        <!-- end of form footer section -->
      
    </div>
</div>

  </body>
 
   <script type="text/javascript" src="jquery-2.2.0.min.js"></script> 
   <script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="sweetalert-master/dist/sweetalert.min.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-ar.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-fr.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-tw-GH.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-he.js"></script>
   <script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-en-GB.js"></script>
   <!--<script type="text/javascript" src="jquery-ui-1.12.1.custom/i18n/jquery.ui.datepicker-zh-TW.js"></script>-->
   <script type="text/javascript" src="select2-master/dist/js/select2.js"></script>
   <script type="text/javascript" src="intl-tel-input-master/build/js/intlTelInput.js"></script>
   <!--<script type="text/javascript" src="applicant_javascripts/phone_validation.js"></script>  
   <script type="text/javascript" src="applicant_javascripts/alt_phone_validation.js"></script>-->
   <script type="text/javascript" src="applicant_javascripts/password_validation.js"></script>
   <script type="text/javascript" src="applicant_javascripts/final_validation.js"></script>
   <script type="text/javascript" src="applicant_javascripts/confirm_password_validation.js"></script> 
   <script type="text/javascript" src="applicant_javascripts/email_validation.js"></script>


</html>

		