<!DOCTYPE html>
 <html>
   
        <head>
            <title>Stumbit Network | Connecting Businesses, connecting you...</title>
            <meta charset="utf-8">
            <meta http-equiv"X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
            <meta content="stumbit, job application, job search, Ghana, Africa" name="keywords"/>
            <meta content="Less work, Perfect work!" name="description"/>
            <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="applicantForm_stylesheets/forms.css" />
            <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
            <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
         </head>
         
 <body>
    
    <div class="container">
      <div class="row"> 
         <section class="col-md-6 col-md-offset-0" id="form-body">   
           
            <form name="uploadFileForm" id="uploadFileForm" enctype="multipart/form-data" action="/uploadApplicantFiles" method="post"> 
	            <legend id="part_three">Applicant Files Upload</legend>
		             <div id="purpose_note" class="help-block">Upload a passport-size photo of you. This image should have a clear background and clearly show your face. It should be either a JPEG, JPG or PNG file of size not more than 500 kilobytes.</div>
			  
                        <div class="form-group">
                                <label for="passport_picture">Upload Passport Picture</label>
                                <input class="form-control" type="file" name="passport_picture" id="passport_picture" required />
                         </div>
<!--
			  <div class="form-group">
				    <label>Upload CV</label>
					 <input class="form-control" type="file" name="cv" id="cv" />
				  </div>-->
			
			  <!--<div class="form-group">
				    <label>Upload Educational Certificate</label>
					 <input class="form-control" type="file" name="edu_cert" id="edu_cert" />
				  </div>-->
				
                 <button type="submit" id="fileSubmit" class="btn btn-primary">Update Passport Photo</button> 
				  
		      </form> 
          </section>
        </div> <!-- end of row div -->
      </div> <!-- end of container div -->
   </body>
   
           <script type="text/javascript" src="jquery-2.2.0.min.js"></script> 
           <script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</html>  