<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dashboard | Stumbit</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stumbit-dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Stumbit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kwadzo Nartey <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/applicantProfileUpdatePage">Manage Profile</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <br/>
        <br/>
        <p style="width:100%"><a style="width:100%" href="/applicant-list-jobs"><button style="width:100%" type="button" class="btn btn-default btn-md">
          Browse Jobs
        </button></a></p>
        <p style="width:100%"><a  style="width:100%" href="/applicant-my-jobs"><button  style="width:100%" type="button" class="btn btn-primary btn-md">
          My Applications
        </button></a></p>
      </div>
      <div class="col-md-9">
        <br/>
        <h3>Job Application</h3>
        <br/>
        <h3>Advanced Requirements</h3>

        <form action="/job-application/submit" method="post">
          {{#each locals.jobRequirements.[0].advancedReq }}
            <input type="hidden" name="user_id" value="{{ ../locals.user_id }}">
                <input type="hidden" name="company_id" value="{{ ../locals.company_id }}">
                <input type="hidden" name="posting_id" value="{{ ../locals.posting_id }}">
            <div class="form-group">
              <label>{{ this.fieldName }}</label>
              <input type="{{ this.acceptedType }}" class="form-control" name="advanced_requirements[]">
            </div>
          {{/each}}
          <button type="submit" class="btn btn-default">Submit Application</button>
        </form>

        <br/><br/>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
