<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 main-div">
    <div class="page-header">
        <span class="application-detail-header">Application For Job as Assistant Budget Officer</span>
    </div>

    <div class="page-header">
        <span class="application-status">Application Status</span>
    </div>

    <div class="application-status-container">
        <div class="media">
            <div class="media-body">
                <div>
                    Being Processed
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-refresh application-status-icon"></span>
            </div>
        </div>
    </div>

    <div class="page-header">
        <span class="company-details">Company Information</span>
    </div>
     <div class="company-details-container">
        <div class="form-group">
            <label for="company-name">Name of Company</label>
            <input type="text" class="form-control" 
                disabled id="company-name" 
                placeholder="company name" 
                value="Google Inc."
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="company-location">Location of Company</label>
            <input type="text" class="form-control" 
                disabled id="company-location" 
                placeholder="company location" 
                value="Mountain View, Amphitheatre Drive way. California. USA"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="expected-salary">Expected Salary</label>
            <input type="text" class="form-control" 
                disabled id="expected-salary" 
                placeholder="expected salary" 
                value="$25k - $45k"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="requirements">Requirements</label><br/>
            <button class="btn btn-default requirements-tag" disabled>
            2 Years working experience
            </button>
            <button class="btn btn-default requirements-tag" disabled>
            Experienced Python Programmer
            </button>
            <button class="btn btn-default requirements-tag" disabled>
            Bsc. Software Engineering or Equivalent
            </button>
            <button class="btn btn-default requirements-tag" disabled>
            Computer Vision Expert
            </button>
            <button class="btn btn-default  requirements-tag" disabled>
            Deep Learning Researcher
            </button>
            <button class="btn btn-default requirements-tag" disabled>
            Can Program for 8 hours Non-Stop
            </button>
        </div>
        <div class="form-group">
            <label for="submission-date">Date of Submission</label>
            <input type="text" class="form-control" 
                disabled id="submission-date" 
                placeholder="submission date" 
                value="22-10-2017"
                aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="page-header">
        <span class="attached-documents">Attached Documents</span>
    </div>

    <div class="attached-documents-container">
        <div class="media">
            <div class="media-body">
                <div>
                    Certificate
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle certificate-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div>
                    CV
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle cv-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div>
                    Recommendation Letter
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-remove-circle recommendation-letter-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div>
                    Basic Information
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle basic-information-check"></span>
            </div>
        </div>
    </div>

</div>