<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" aria-expanded="false"
					(click)="isNavbarCollapsed = !isNavbarCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Brand</a>
		</div>

		<div class="collapse navbar-collapse" [collapse]="isNavbarCollapsed">
			<ul class="nav navbar-nav  navbar-right">
				<li class="dropdown" dropdown>
					<a>
						Hi, Biney
						<i class="fa fa-cog dropdown-toggle" id="user-btn-control" dropdownToggle></i>
					</a>
					<ul  class="dropdown-menu" role="menu" *dropdownMenu>
						<li><a class="fa fa-edit" [routerLink]="['/company/profile']"> Edit Profile</a></li>
						<li role="separator" class="divider"></li>
						<li><a class="fa fa-sign-out"> Sign Out</a></li>
						<!--<li role="separator" class="divider"></li>
						<li><a>Something else here</a></li>-->
						<!--<li role="separator" class="divider"></li>
						<li><a>Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a>One more separated link</a></li>-->
					</ul>
				</li>
			</ul>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

	</div><!-- /.container-fluid -->
</nav>

<div class="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-4 col-xs-3 " id="workpane_width">
				<div id="main-sidebar">
					<!--<div class="input-group" id="search-button-control">
						<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search...">
						<div class="input-group-addon"><button><i class="fa fa-search"></i></button></div>
					</div>-->
					<div class="list-group">
						<a class="list-group-item dashboard-btn" [routerLink]="['/company/dashboard']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
						<div>
							<a class="list-group-item" (click)="isFirstCollapsed = !isFirstCollapsed">
								<span class="left-item"><i class="fa fa-bar-chart-o fa-fw"></i> Jobs</span>
								<span class="right-arrow">
								<i *ngIf="isFirstCollapsed" class="fa fa-angle-left"></i>
								<i *ngIf="!isFirstCollapsed" class="fa fa-angle-down"></i>
								</span>
							</a>
							<ul class="nav nav-second-level" [collapse]="isFirstCollapsed" >
								<li>
									<a>View Posted Jobs</a>
								</li>
								<li>
									<a [routerLink]="['/company/post-jobs']">Post New Job</a>
								</li>
							</ul>
						</div>
						<!--<div>
							<a class="list-group-item" (click)="isSecCollapsed = !isSecCollapsed">
								<span class="left-item"><i class="fa fa-table fa-fw"></i>&nbsp;Tables</span>
								<span class="right-arrow">
								<i *ngIf="isSecCollapsed" class="fa fa-angle-left"></i>
								<i *ngIf="!isSecCollapsed" class="fa fa-angle-down"></i>
								</span>
							</a>
									<ul class="nav nav-second-level" [collapse]="isSecCollapsed">
										<li>
											<a>Panels and Wells</a>
										</li>
										<li>
											<a>Buttons</a>
										</li>
										<li>
											<a>Notifications</a>
										</li>
										<li>
											<a>Typography</a>
										</li>
										<li>
											<a> Icons</a>
										</li>
										<li>
											<a>Grid</a>
										</li>
									</ul>
						</div>-->
					</div>
				</div>

			</div>
			<!-- end of side bar-->
			<!--beginning of body-->
			<div class="col-lg-10 col-md-10 col-sm-8 col-xs-9" id="body-control">
				<router-outlet></router-outlet>
			</div>
			<!--end of body-->
		</div>
	</div>

</div>
