alert {
    position: fixed;
    top: 35px;
    right: 0;
    left: 0;
    z-index: 1050;
}
:host >>> .alert-dismissable .close, :host >>> .alert-dismissible .close {
    opacity: .75;
}
:host >>> .alert-success {
    width: 50%;
    margin: auto;
}
