<!-- alert for error message. -->
<app-error-alert *ngIf="serverErrorEncountered">
  {{serverErrorMsg}} <strong>Please try again </strong>
</app-error-alert>

<form #signInForm="ngForm" (ngSubmit)="onSubmitSignIn()">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input class="form-control" placeholder="email" name="email" type="email"
             ngModel required  email  (blur)="updateFormState('email')">
    </div>
    <div *ngIf="!signInFormState.email.isValid" class="alert alert-danger" role="alert">
      {{signInFormState.email.msg}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input class="form-control" name="password" placeholder="Password" type="password"
             ngModel required minlength="8" pattern="{{passwordRegex}}" (blur)="updateFormState('password')">
    </div>
    <div *ngIf="!signInFormState.password.isValid" class="alert alert-danger" role="alert">
      {{signInFormState.password.msg}}
    </div>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-lg btn-info btn-block" [disabled]="signInForm.invalid" value="Sign in">
  </div>
</form>
