.main-div{
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.application-detail-header{
    font-size: 120%;
    /*border-bottom: 1px solid #505050;*/
    /*padding: 0 0 9px;*/
}

.requirements-tag{
  border-radius: 1%;
  margin-bottom: 3px;
  margin-right: 3px;
}

.company-details, .attached-documents, .application-status, .application-status-icon{
    color: #4169E1;
}

.certificate-check, .cv-check, .basic-information-check{
    color: #008000;
}

.recommendation-letter-check{
    color: #FF0000;
}