<!-- Contact -->
<div class="container">
	<div class="row centered-form">
		<div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 main-profile-body">
			<div class="panel panel-default form_body">
				<div class="panel-heading">
					<h3 class="panel-title">Section 2 - Contact</h3>
				</div>
				<div class="section-notice">
					<p class="small">Please tell us how to contact you when needed by
						providing us with your contact information. These information will be
						kept private and will only be shared with companies (especially your email)
						based on your permission or when a company you have applied to needs it</p>
					<p class="small">All form fields marked with <span class="form-required"><strong>*</strong></span> are required</p>
				</div>
				<div class="panel-body">
					<form #form="ngForm" (ngSubmit)="onSubmit()">
						<!-- Email div-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Email</label>
								<div class="form-group">
									<input type="email" name="email" id="email"
											 class="form-control input-sm" placeholder="something@example.com"
											 [(ngModel)]="formState.email.value" email required
											 [ngClass]="{'invalid-input':!formState.email.isValid}"
											 (change)="updateFormState('email')"
									>
									<div *ngIf="!formState.email.isValid" class="alert alert-danger" role="alert">
										{{formState.email.errMsg}}
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Alternate Email</label>
								<div class="form-group">
									<input type="email" name="altEmail" id="alt_email"
											 class="form-control input-sm" placeholder="Alternate Email"
											 [(ngModel)]="formState.altEmail.value" email
											 [ngClass]="{'invalid-input':!formState.altEmail.isValid}"
											 (change)="updateFormState('altEmail')"
									>
									<div *ngIf="!formState.altEmail.isValid" class="alert alert-danger" role="alert">
										{{formState.altEmail.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!--end of email div-->

						<!-- Phone number-->
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Mobile</label>
								<div class="form-group">
									<input required type="text" name="phone" id="phone_number"
											 class="form-control input-sm" placeholder="Phone"
											 [(ngModel)]="formState.phone.value" pattern="{{formState.phone.regex}}"
											 [ngClass]="{'invalid-input':!formState.phone.isValid}"
											 (change)="updateFormState('phone')"
									>
									<div *ngIf="!formState.phone.isValid" class="alert alert-danger" role="alert">
										{{formState.phone.errMsg}}
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label>Alternate Phone Number</label>
								<div class="form-group">
									<input type="text" name="altPhoneNumber" id="alt_phone_number"
											 class="form-control input-sm" placeholder="Alternate Phone"
											 [(ngModel)]="formState.altPhoneNumber.value" pattern="{{formState.altPhoneNumber.regex}}"
											 [ngClass]="{'invalid-input':!formState.altPhoneNumber.isValid}"
											 (change)="updateFormState('altPhoneNumber')"
									>
									<div *ngIf="!formState.altPhoneNumber.isValid" class="alert alert-danger" role="alert">
										{{formState.altPhoneNumber.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!-- End of phone div-->

						<!-- Postal Address-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Postal Address</label>
								<div class="form-group">
									<input type="text" required name="postalAddress" id="postal_address"
											 class="form-control input-sm" placeholder="Postal Address"
											 [(ngModel)]="formState.postalAddress.value" pattern="{{formState.postalAddress.regex}}"
											 [ngClass]="{'invalid-input':!formState.postalAddress.isValid}"
											 (change)="updateFormState('postalAddress')"
									>
									<div *ngIf="!formState.postalAddress.isValid" class="alert alert-danger" role="alert">
										{{formState.postalAddress.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!-- End of postal address-->

						<!-- Alt Postal Address-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Alternate Postal Address</label>
								<div class="form-group">
									<input type="text" name="altPostalAddress" id="alt_postal_address"
											 class="form-control input-sm" placeholder="Alternate Postal Address"
											 [(ngModel)]="formState.altPostalAddress.value" pattern="{{formState.altPostalAddress.regex}}"
											 [ngClass]="{'invalid-input':!formState.altPostalAddress.isValid}"
											 (change)="updateFormState('altPostalAddress')"
									>
									<div *ngIf="!formState.altPostalAddress.isValid" class="alert alert-danger" role="alert">
										{{formState.altPostalAddress.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!-- End of alternate postal address-->

						<div class="row">
								<input type="button" value="Skip" (click)="skipForm()"
										 class="col-md-4 col-sm-4 col-xs-4 btn btn-info">

								<input type="button" value="Previous" (click)="previousForm()"
										 class="col-md-4 col-sm-4 col-xs-4  btn btn-info">

							<input type="submit" value="Next"
									 class="col-md-4 col-sm-4 col-xs-4  btn btn-info"
									 [disabled]="!form.valid || !isAllPhoneNoValid">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of section 2 -->
