<!-- Section Four -->
<!-- Files-->
<div class="container">
	<div class="row centered-form">
		<div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 main-profile-body">
			<div class="panel panel-default form_body">
				<div class="panel-heading">
					<h3 class="panel-title">Section 4 - Files Upload</h3>
				</div>
				<div class="section-notice">
					<p class="small">This section demands that you upload necessary files
						needed by companies during job applications. This process saves you from
						uploading these files everytime you apply for a job and also, upon your
						permission, allow companies view such files</p>
					<p class="small">All form fields marked with <span class="form-required"><strong>*</strong></span> are required</p>
				</div>
				<div class="panel-body">
					<form #form="ngForm" (ngSubmit)="onSubmit()">
						<!-- Nationality and residence div-->
						<div class="row files-upload">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<label>Curriculum Vitae (CV)</label>
								<input type="file" id="cv" accept=".pdf, .doc, .docx" name="cv"
										 (onFileSelected)="onFileSelected($event,'cv')" ng2FileSelect [uploader]="uploader">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<label><span class="form-required">*</span>Highest Formal Education Degree/Certificate</label>
								<input type="file" name="degree"  id="degree" accept=".pdf, .doc, .docx"
										 (onFileSelected)="onFileSelected($event,'cert')" ng2FileSelect [uploader]="uploader" >
							</div>
						</div>
						<div>
							<strong>Uploaded file(s):</strong>
							<table class="table">
								<tr *ngIf="cvFile!=''">
									<th>CV</th>
									<th><a href="{{domain}}/{{cvFile}}">CV</a></th>
								</tr>
								<tr *ngIf="degreeFile!=''">
									<th>Cert</th>
									<th><a href="{{domain}}/{{degreeFile}}">Cert</a></th>
								</tr>
							</table>
						</div>

						<div>
							<strong>Queued file(s):</strong>
							<table class="table" *ngIf="uploader">
								<tr>
									<th>Filename</th>
									<th>Size</th>
								</tr>
								<tr  *ngFor="let item of uploader.queue">
									<td>{{ item?.file?.name }}</td>
									<td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024 | number:'.0-2' }} KB</td>
								</tr>
							</table>
						</div>

						<div class="mb-2" *ngIf="uploader">
							<progressbar [value]="uploader.progress" type="success" [striped]="true" [animate]="true"></progressbar>
						</div>

						<div class="row">
								<input type="submit" value="Save"
										 class="col-md-6 col-sm-6 col-xs-6 btn btn-info" [disabled]="!isFormValid">
								<input type="button" value="Previous" (click)="previousForm()"
										 class="col-md-6 col-sm-6 col-xs-6 btn btn-info">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of files -->
<!-- End of section 4 -->
