<!-- Basic Information -->
<div class="container" >
	<div class="row centered-form">
		<div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 main-profile-body">
			<div class="panel panel-default form_body">
				<div class="panel-heading">
					<h3 class="panel-title">Section 1 - Basic Information</h3>
				</div>
				<div class="section-notice">
					<p class="small">Please provide your basic details. This, together with other
						information in other profile settings sections will be used to set up your
						profile for companies</p>
					<p class="small">All form fields marked with
						<span class="form-required"><strong>*</strong></span> are required
					</p>
				</div>
				<div class="panel-body">
					<form #form="ngForm" (ngSubmit)="onSubmit()">
						<!-- Name div-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>First Name</label>
								<div class="form-group">
									<input type="text" required name="fname" id="first_name"
											 class="form-control input-sm" placeholder="First Name"
											 [(ngModel)]="formState.fname.value" pattern="{{formState.fname.regex}}"
											 [ngClass]="{'invalid-input':!formState.fname.isValid}"
											 (change)="updateFormState('fname')"
									>
									<div *ngIf="!formState.fname.isValid" class="alert alert-danger" role="alert">
										{{formState.fname.errMsg}}
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label>Middle Name</label>
								<div class="form-group">
									<input type="text" name="mname" id="middle_name"
											 class="form-control input-sm" placeholder="Middle Name"
											 [(ngModel)]="formState.mname.value" pattern="{{formState.mname.regex}}"
											 [ngClass]="{'invalid-input':!formState.mname.isValid}"
											 (change)="updateFormState('mname')"
									>
									<div *ngIf="!formState.mname.isValid" class="alert alert-danger" role="alert">
										{{formState.mname.errMsg}}
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Last Name</label>
								<div class="form-group">
									<input type="text" required name="lname" id="last_name"
											 class="form-control input-sm" placeholder="Last Name"
											 [(ngModel)]="formState.lname.value" pattern="{{formState.lname.regex}}"
											 [ngClass]="{'invalid-input':!formState.lname.isValid}"
											 (change)="updateFormState('lname')"
									>
									<div *ngIf="!formState.lname.isValid" class="alert alert-danger" role="alert">
										{{formState.lname.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!-- End of name div-->

						<!-- Date of Birth -->
						<div>
							<label><span class="form-required">*</span>Date of Birth</label>
							<div class="row">
								<div class="col-xs-6  form-group">
									<input type="date" class="form-control" required name="bdate" #dp="bsDatepicker"
											 bsDatepicker [(ngModel)]="formState.bdate.value"
											 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',containerClass: 'theme-default' }"
											 (change)="updateFormState('bdate')"
											 [ngClass]="{'invalid-input':!formState.bdate.isValid}"
									>
								</div>
								<div class="col-xs-6 form-group">
									<button  type="button" class="btn btn-default" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
										Date Picker
									</button>
								</div>
								<div *ngIf="!formState.bdate.isValid" class="alert alert-danger" role="alert">
									{{formState.bdate.errMsg}}
								</div>
							</div>
						</div>
						<!-- End of Date -->

						<!-- Marital Status-->
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Marital Status</label>
								<div class="form-group">
									<select name="maritalStatus" class="form-control" required
											  [(ngModel)]="formState.maritalStatus.value"
											  (change)="updateFormState('maritalStatus')"
									>
										<option *ngFor="let ob of maritalStatusTypes;" [value]="ob.val">{{ob.dat}}</option>
									</select>
									<div *ngIf="!formState.maritalStatus.isValid" class="alert alert-danger" role="alert">
										{{formState.maritalStatus.errMsg}}
									</div>
								</div>
							</div>

							<!-- Sex-->
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Sex</label>
								<div class="form-group">
									<select name="sex" class="form-control" required
											  [(ngModel)]="formState.sex.value"
											  (change)="updateFormState('sex')"
									>
										<option *ngFor="let ob of sexTypes;" [value]="ob.val">{{ob.dat}}</option>
									</select>
									<div *ngIf="!formState.sex.isValid" class="alert alert-danger" role="alert">
										{{formState.sex.errMsg}}
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Highest Formal Education Background</label>
								<div class="form-group">
									<select  name="highEdu" class="form-control" required
												[(ngModel)]="formState.highEdu.value"
												(change)="updateFormState('highEdu')"
									>
										<option *ngFor="let ob of highEduTypes;" [value]="ob.val">{{ob.dat}}</option>
									</select>
									<div *ngIf="!formState.highEdu.isValid" class="alert alert-danger" role="alert">
										{{formState.highEdu.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!-- to be shown only if other is shown-->
						<div class="row" *ngIf="isHighEduOther">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<input type="text" name="school_other" id="school_other" ngModel
											 class="form-control input-sm" placeholder="Specify if Other"
											 [(ngModel)]="formState.school_other.value" pattern="{{formState.school_other.regex}}"
											 [ngClass]="{'invalid-input':!formState.school_other.isValid}"
											 (change)="updateFormState('school_other')">
									<div *ngIf="!formState.school_other.isValid" class="alert alert-danger" role="alert">
										{{formState.school_other.errMsg}}
									</div>
								</div>
							</div>
						</div>

						<!-- occupational status-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>Employment Status</label>
								<div class="form-group">
									<select name="employStatus" class="form-control" required
											  [(ngModel)]="formState.employStatus.value"
											  (change)="updateFormState('employStatus')"
									>
										<option *ngFor="let ob of employStatusTypes;" [value]="ob.val">{{ob.dat}}</option>
									</select>
									<div *ngIf="!formState.employStatus.isValid" class="alert alert-danger" role="alert">
										{{formState.employStatus.errMsg}}
									</div>
								</div>
							</div>
						</div>

						<!-- to be shown only if other is shown-->
						<div class="row" *ngIf="isEmployOther">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<input type="text" name="work_other" id="work_other" ngModel
											 class="form-control input-sm" placeholder="Specify if Other"
											 [(ngModel)]="formState.work_other.value" pattern="{{formState.work_other.regex}}"
											 [ngClass]="{'invalid-input':!formState.work_other.isValid}"
											 (change)="updateFormState('work_other')">
									<div *ngIf="!formState.work_other.isValid" class="alert alert-danger" role="alert">
										{{formState.work_other.errMsg}}
									</div>
								</div>
							</div>
						</div>

						<div class="row">
								<input type="button" (click)="skipForm()" value="Skip"
										 class="col-md-6 col-sm-6 col-xs-6 btn btn-info">
							<input type="submit" value="Next" class="col-md-6 col-sm-6 col-xs-6 btn btn-info"
									 [disabled]="!form.valid">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of phase 1 -->
<!-- alert for error message. -->
<app-error-alert *ngIf="serverErrorEncountered" [serverErrorMsg]="serverErrorMsg"
					  [secondaryMsg]="secondaryMsg" (onErrorClosed)="onErrorAlertClosed($event)">
</app-error-alert>
