<!-- Section 3 -->
<!-- Residence Information-->
<div class="container">
	<div class="row centered-form">
		<div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 main-profile-body">
			<div class="panel panel-default form_body">
				<div class="panel-heading">
					<h3 class="panel-title">Section 3 - Residence Information</h3>
				</div>
				<div class="section-notice">
					<p class="small">Your Nationality and Country of Residence is also needed
						should a company you applied to demand for it.</p>
				</div>
				<div class="panel-body">
					<form #form="ngForm" (ngSubmit)="onSubmit()">
						<!-- Nationality and residence div-->
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Country of Origin</label>
								<div class="form-group">
									<select name="countryOrigin" class="form-control" required
											  [(ngModel)]="formState.countryOrigin.value"
											  (change)="updateFormState('countryOrigin')"
									>
										<option *ngFor="let c of worldCountries;" [value]="c.country">{{c.country}}</option>
									</select>
									<div *ngIf="!formState.countryOrigin.isValid" class="alert alert-danger" role="alert">
										{{formState.countryOrigin.errMsg}}
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<label><span class="form-required">*</span>Country of Residence</label>
								<div class="form-group">
									<select name="countryResidence" class="form-control" required
											  [(ngModel)]="formState.countryResidence.value"
											  (change)="updateFormState('countryResidence')"
									>
										<option *ngFor="let c1 of worldCountries;" [value]="c1.country">{{c1.country}}</option>
									</select>
									<div *ngIf="!formState.countryResidence.isValid" class="alert alert-danger" role="alert">
										{{formState.countryResidence.errMsg}}
									</div>
								</div>
							</div>
						</div>
						<!--end of nationality and residence div-->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label><span class="form-required">*</span>City of Residence</label>
								<div class="form-group">
									<input type="text" required name="city" id="city"
											 class="form-control input-sm" placeholder="City of residence"
											 [(ngModel)]="formState.city.value" pattern="{{formState.city.regex}}"
											 [ngClass]="{'invalid-input':!formState.city.isValid}"
											 (change)="updateFormState('city')"
									>
									<div *ngIf="!formState.city.isValid" class="alert alert-danger" role="alert">
										{{formState.city.errMsg}}
									</div>
								</div>
							</div>
						</div>

						<div class="row">
								<input type="button" (click)="skipForm()" value="Skip"
										 class="col-md-4 col-sm-4 col-xs-4 btn btn-info">

								<input type="button" value="Previous" (click)="previousForm()"
										 class="col-md-4 col-sm-4 col-xs-4 btn btn-info">

							<input type="submit" value="Next"
									 class="col-md-4 col-sm-4 col-xs-4 btn btn-info" [disabled]="!form.valid">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Residence -->
<!-- End of section 3 -->
