  
  <!DOCTYPE html>
<html>
   <head>
     <title>Stumbit Network | Connecting Businesses, connecting you...</title>
	 <meta charset="utf-8">
	 <meta http-equiv"X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
     <meta content="stumbit, job application, job search, Ghana, Africa" name="keywords"/>
     <meta content="Less work, Perfect work!" name="description"/>
     <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="ads_stylesheets/ad_style.css" />
     <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
   </head>
        <body>
             <div class="container">
                  <div class="row">
                      
                      
                      <section id="ad_section" class="col-md-4 col-md-offset-1">
                          <div id="ad_header">COMPANIES/INSTITUTIONS/ORGANISATIONS ADVERTISEMENT</div>
                         
                            <section id="ad_one">
                               <ul class="list-group">
                                <li class="list-group-item" id="cName">{{{firstCompanyName}}}</li>
                                <li class="list-group-item" ><i class="fa fa-envelope"></i> {{{firstCompanyEmail}}}</li>
                                <li class="list-group-item" ><i class="fa fa-phone"></i> {{{firstCompanyPhone}}}</li>
                               </ul>
                            </section>
                          
                            <section id="ad_two">
                              <ul class="list-group">  
                                <li class="list-group-item" id="cName">{{{secondCompanyName}}}</li>
                                <li class="list-group-item"><i class="fa fa-envelope"></i> {{{secondCompanyEmail}}}</li>
                                <li class="list-group-item"><i class="fa fa-phone"></i> {{{secondCompanyPhone}}}</li>
                              </ul>                               
                            </section>
                        </section>
                        
                   </div>
             </div>
       </body>
       <script type="text/javascript" src="jquery-2.2.0.min.js"></script> 
       <script type="text/javascript" src="ads_javascripts/ad_script.js"></script>
</html>