<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stumbit Sign Up</title>

</head>
<body>
<!-- Stumbit Header-->
<div id="signUpSect">
    <h1>Stumbit Account Verification </h1>
    <hr class="deep-hr">
    <div id="InfoBorder">
        <div id="message">
            <div class="feature-wrap">
                <img src="cid:font-pic@kreata.ee" alt="photo">
                <h2>Email Verification </h2>
            </div>

            <p class="bord">
                Your account needs to be activated.<br> Please click on this button to verify your Stumbit Account .
                <div>
                    <a href="http://localhost:3000/accounts/verify?id={{userId}}" title="Verify Account" class="custom-button">
                        Verify your account
                    </a>
                </div>
            </p>
        </div>
    </div>
    <!--footer section-->
    <div id="footer">© 2016 Stumbit Network. All Rights Reserved.</div>
</div>
</body>
</html>
