<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stumbit Sign Up</title>

    <style>
        /*------------- Main Sign Up Form Styles ----*/
        #InfoBorder {
            background: #ffffff;
            min-height: 380px;
            border: 2px solid #bec9c6;
            text-align: center;
            width: 70%;
            margin: auto;
        }

        .deep-hr {
            border: 0.5px solid #c8c8c8;
            margin-top:2px;
            margin-bottom: 0px;
        }


        /*-----------body styles ------------*/
        body {
            background: #fafbf9;
            padding: 10px;
        }

        #message {
            font-size: 19px;
        }

        #footer {
            font-size: 16px;
            color: black;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        #signUpSect {text-align: center;padding-top: 25px;}
        #InfoBorder{margin: auto;}

        .feature-wrap {
            margin-bottom: 25px;
            overflow: hidden;
        }

        .feature-wrap h2{
            margin-top: 0px;
        }


        #message .bord{padding-left: 20px;padding-right: 20px;font-size: 17px;}


        /*---------Buttons ------------*/
        .custom-button , .custom-button:focus,
        .custom-button:hover, .custom-button:active,
        .custom-button:active:hover, .custom-button:active:focus
        {
            font-size: 18px;
            padding: 8px 15px;
            background: #398c79;
            border-radius: 3px;
            border:1px solid #449583;
            text-decoration: none;
            color:white;
        }

        img {width:100%;margin-bottom: 15px;}

    </style>

</head>
<body>
<!-- Stumbit Header-->
<div id="signUpSect">
    <h1>Stumbit Account Verification </h1>
    <hr class="deep-hr">
    <div id="InfoBorder">
        <div id="message">
            <div class="feature-wrap">
                <img src="../font.jpg" alt="photo">
                <h2>Email Verification </h2>
            </div>

            <p class="bord">
                Your account needs to be activated.<br> Please click on this button to verify your Stumbit Account .
                <div>
                    <a href="http://localhost:3000/accounts/verify?id={{userId}}" title="Verify Account" class="custom-button">
                        Verify your account
                    </a>
                </div>
            </p>
        </div>
    </div>
    <!--footer section-->
    <div id="footer">© 2016 Stumbit Network. All Rights Reserved.</div>
</div>
</body>
</html>
