#InfoBorder {
    background: #ffffff;
    min-height: 380px;
    border: 2px solid #bec9c6;
    text-align: center;
    width: 70%;
    margin: auto;
}

.deep-hr {
    border: 0.5px solid #c8c8c8;
    margin-top:2px;
    margin-bottom: 0px;
}


/*-----------body styles ------------*/
body {
    background: #fafbf9;
    padding: 10px;
}

#message {
    font-size: 19px;
}

#footer {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

#signUpSect {text-align: center;padding-top: 25px;}
#InfoBorder{margin: auto;}

.feature-wrap {
    margin-bottom: 25px;
    overflow: hidden;
}

.feature-wrap h2{
    margin-top: 0px;
}


#message .bord{padding-left: 20px;padding-right: 20px;font-size: 17px;}


/*---------Buttons ------------*/
.custom-button , .custom-button:focus,
.custom-button:hover, .custom-button:active,
.custom-button:active:hover, .custom-button:active:focus
{
    font-size: 18px;
    padding: 8px 15px;
    background: #398c79;
    border-radius: 3px;
    border:1px solid #449583;
    text-decoration: none;
    color:white;
}

img {width:100%;margin-bottom: 15px;}
