
.top-panel{
    margin-top: 40px;
}

.section-notice {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    color: cadetblue;
}

.files-upload {
    margin-bottom: 10px;
}

label {
    color: #808080;
    font-family: "Courier New";
}

.form-required {
    color: #ff0000;
}

.panel-title {
    color: #4169e1;
}

input, textarea, select {
    margin-bottom: 15px !important;
    border-radius: 0px !important;
}

.form_body {
    border-radius: 0px !important;
}
