<div class="top-panel col-md-12">    
    <div class="panel panel-primary">
        <div class="panel-heading">Welcome</div>
        <div class="panel-body">
            Something goes here
        </div>
    </div>
</div>