.main-content-divier{
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
}

.main-content{
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job-body{
  color: grey;
  text-decoration: none;
}

.post-headers{
  color: #000000;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.requirements-tag{
  border-radius: 1%;
  margin-bottom: 3px;
  margin-right: 3px;
}

.apply-btn{
  border: none;
  color: #4169E1;
  text-decoration: none;
}

.filter-jobs{
  margin-top: 10px;
}

.search-jobs{
  margin-top: 10px;
}

.view-applied-jobs{
  margin-top: 10px;
}

/*.filter-tools{
  text-align: center;
}*/

.applied-jobs-page-header{
  font-size: 120%;
  border-bottom: 1px solid #505050;
  padding: 0 0 10px;
}
