<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 main-div">
    <div class="page-header">
        <span class="application-document-review">Application Document Review</span>
    </div>
    <div class="page-header">
        <span class="basic-information">Basic Information</span><br />
        <small class="help"> Please review all information for correction before submission</small>
    </div>
    <div class="basic-information-container">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" 
                id="first-name" 
                placeholder="first name" 
                value="KIngsley"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="middle-name">Middle Name</label>
            <input type="text" class="form-control" 
                id="middle-name" 
                placeholder="middle name" 
                value="Amoah"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" 
                id="last-name" 
                placeholder="last name" 
                value="Biney"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="date-of-birth">Date of Birth</label>
            <input type="text" class="form-control" 
                id="date-of-birth" 
                placeholder="date of birth" 
                value="16-09-1995"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" 
                id="email" 
                placeholder="email" 
                value="bineykingsley36@gmail.com"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="phone">Mobile Contact</label>
            <input type="text" class="form-control" 
                id="phone" 
                placeholder="phone" 
                value="+233240020888"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="certificate">Highest Certificate</label>
            <input type="text" class="form-control" 
                id="certificate" 
                placeholder="certificate" 
                value="Bachelor of Science (Bsc.)"
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea type="text" class="form-control bio" 
                id="bio" 
                placeholder="bio" 
                aria-describedby="basic-addon1">Experienced Java Programmer, Google Hackathon 2015 Runner Up and all the other bullshit I can think of :)</textarea>
        </div>
    </div>

    <div class="page-header">
        <span class="basic-information">Attached Files</span><br />
        <small class="help"> Files checked in green are available and can be changed also. Files checked in red are not available</small>
    </div>

    <div class="attached-files-container">
        <div class="media">
            <div class="media-body">
                <div class="col-md-3">
                    Certificate : 
                </div>
                <div class="col-md-2">
                    Available
                </div>
                <div class="col-md-4">
                    <form class="form-group">
                         <input type="file">
                    </form>
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle certificate-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div class="col-md-3">
                    CV : 
                </div>
                <div class="col-md-2">
                    Available
                </div>
                <div class="col-md-4">
                    <form class="form-group">
                         <input type="file">
                    </form>
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle cv-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div class="col-md-3">
                    Recommendation Letter : 
                </div>
                <div class="col-md-2">
                    Not Available
                </div>
                <div class="col-md-4">
                    <form class="form-group">
                         <input type="file">
                    </form>
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-remove-circle recommendation-letter-check"></span>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <div class="col-md-3">
                    Basic Information : 
                </div>
                <div class="col-md-2">
                    Available
                </div>
                <div class="col-md-4">
                    <form class="form-group">
                         <input type="file">
                    </form>
                </div>
            </div>
            <div class="media-right">
                <span class="glyphicon glyphicon-ok-circle basic-information-check"></span>
            </div>
        </div>
    </div>

    <div class="final-decision">
        <input type="submit" class="col-md-6 col-sm-6 col-xs-6 btn btn-primary submit" value="Submit Application">
        <input type="submit" class="col-md-6 col-sm-6 col-xs-6 btn btn-warning cancel" value="Cancel Application">
    </div>

</div>