<div class="main-dashboard-body">
    <div class="jumbotron company-review">
        <h1>Stumbit Inc.</h1>
        <p>Featuring in this month's Company Review...</p>
        <p><a class="btn btn-primary btn-large"  role="button">Learn more about Stumbit Inc.</a></p>
    </div>
    <div class="col-md-6 col-sm-6 col-sm-offset-1 col-md-offset-1">
        <div class="latest-jobs">
            <div class="page-header">
                <span class="latest-category">Latest Jobs Posted</span>
                <a [routerLink]="['/applicant/latest-jobs']"><span class="latest-jobs-more">MORE <i class="glyphicon glyphicon-chevron-right"></i></span></a>
            </div>
        </div>
        <!-- First media-->
        <div class="media">
            <div class="media-body">
                <a ><h4 class="job-title">Bank Manager</h4></a>
                <div class="media-heading">
                    <a ><small class="institution-name">Barclays Bank</small></a>
                    <div class="institution-details">
                        <a  class="institution-location"><small>Legon Branch, Accra</small></a><br />
                        <small class="publish-date">January 10, 2018</small>
                    </div>
                </div>
            </div>
            <div class="media-right">
                <a>
                <img class="media-object"
                    width="140px"
                    height="120px"
                    src="{{jobs_logo}}"
                    alt="company-avatar">
                </a>
            </div>
        </div>
        <!--Second media for display-->
        <div class="media">
            <div class="media-body">
                <a ><h4 class="job-title">Personal Driver</h4></a>
                <div class="media-heading">
                    <a ><small class="institution-name">Sam Enterprise</small></a>
                    <div class="institution-details">
                        <a  class="institution-location"><small>Sunyani, Brong Ahafo</small></a><br />
                        <small class="publish-date">October 09, 2017</small>
                    </div>
                </div>
            </div>
            <div class="media-right">
                <a >
                <img class="media-object"
                    width="140px"
                    height="120px"
                    src="{{jobs_logo}}"
                    alt="company-avatar">
                </a>
            </div>
        </div>
        <!-- Third Media-->
        <div class="media">
            <div class="media-body">
                <a ><h4 class="job-title">Shop Attendant</h4></a>
                <div class="media-heading">
                    <a ><small class="institution-name">Wofa Attah Tiles and Doors Enterprise</small></a>
                    <div class="institution-details">
                        <a  class="institution-location"><small>Sofo line, Kumasi</small></a><br />
                        <small class="publish-date">March 03, 2018</small>
                    </div>
                </div>
            </div>
            <div class="media-right">
                <a >
                <img class="media-object"
                    width="140px"
                    height="120px"
                    src="{{jobs_logo}}"
                    alt="company-avatar">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 col-sm-offset-1  col-md-offset-1 popular-activity">
            <div class="popular">
                <div class="page-header job-skill-meet">Job Recommendation</div>
                <!-- Media 1-->
                <div class="media">
                    <div class="media-left">
                        <div class="job-skill-meet-rank">01</div>
                    </div>
                    <div class="media-body">
                        <a ><h4 class="job-title">Software Developer</h4></a>
                        <div class="media-heading">
                            <a ><small class="institution-name">Google Inc.</small></a>
                            <div class="institution-details">
                                <a  class="salary"><small>$25k - $45k</small></a><br />
                                <small class="publish-date">August 27, 2019</small>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- Media 2-->
                <div class="media">
                    <div class="media-left">
                        <div class="job-skill-meet-rank">02</div>
                    </div>
                    <div class="media-body">
                        <a ><h4 class="job-title">Frontend Developer</h4></a>
                        <div class="media-heading">
                            <a ><small class="institution-name">Oracle Inc.</small></a>
                            <div class="institution-details">
                                <a  class="salary"><small>Not Available</small></a><br />
                                <small class="publish-date">March 20, 2013</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Media 3-->
                <div class="media">
                    <div class="media-left">
                        <div class="job-skill-meet-rank">03</div>
                    </div>
                    <div class="media-body">
                        <a ><h4 class="job-title">Python Programmer</h4></a>
                        <div class="media-heading">
                            <a ><small class="institution-name">Stumbit Inc.</small></a>
                            <div class="institution-details">
                                <a href="#" class="salary"><small>$100k - $150k</small></a><br />
                                <small class="salary">January 10, 2018</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

