.main-dashboard-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-notice {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    color: cadetblue;
}

.files-upload {
    margin-bottom: 10px;
}

label {
    color: #808080;
    font-family: "Courier New";
}

.form-required {
    color: #ff0000;
}

.panel-title {
    color: #4169e1;
}

input, textarea, select {
    margin-bottom: 15px !important;
    border-radius: 0px !important;
}

.form_body {
    border-radius: 0px !important;
}

.company-review{
  margin-top: 5px;
}

.jumbotron{
    border: none;
    border-radius: 0;
}

.latest-jobs{
    margin-bottom: 20px;
}

.latest-jobs-more{
    float: right;
    color: #808080;
    font-size: 90%;
    margin-top: 15px;
}

.latest-category{
    font-size: 150%;
    text-align: left;
    border-bottom: 1px solid #808080;
    padding: 0 0 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.media{
    margin-bottom: 40px;
}

.job-title{
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.institution-name{
    color: #808080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.institution-details{
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.institution-location{
    color: #000000;
}

.publish-date, .salary{
    color: #808080;
}

a:link {
    text-decoration: none;
}

.job-skill-meet{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

.job-skill-meet-rank{
    font-size: 180%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #808080;
}


