.post-job-form{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #D3D3D3;
}

.post-job-header-info{
  color: #4169E1;
}

.post-job-info{
  color: #FFA500;
}

label {
  color: #808080;
}

textarea {
  resize: inherit;
}

.main-header{
  color: #4169E1;
}
