<nav class="navbar navbar-default nav-decor">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" aria-expanded="false"
					(click)="isNavbarCollapsed = !isNavbarCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" [routerLink]="['/applicant/dashboard']">Brand</a>
		</div>

		<div class="collapse navbar-collapse" [collapse]="isNavbarCollapsed">
			<ul class="nav navbar-nav">
				<li class="dropdown" dropdown>
					<a id="jobs-control" class="dropdown-toggle" dropdownToggle>Jobs <i class="caret"></i></a>
					<ul class="dropdown-menu" role="menu" *dropdownMenu>
						<li><a [routerLink]="['/applicant/search-jobs']">Job Market</a></li>
						<li><a [routerLink]="['/applicant/applied-jobs']">Applied Jobs</a></li>
					</ul>
				</li>
				<li><a [routerLink]="['/applicant','profile']">Application Documents</a></li>
			</ul>
			<form class="navbar-form navbar-left">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search jobs...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
				</div>
			</form>
			<ul class="nav navbar-nav  navbar-right">
				<li><a><i class="fa fa-info-circle"></i> Notifications <span class="badge">2</span></a></li>
				<li><a><i class="fa fa-envelope"></i> Messages <span class="badge">4</span></a></li>
				<li><a><i class="glyphicon glyphicon-user"></i> Hi Biney!</a></li>
				<li class="dropdown" dropdown>
					<a id="user-btn-control" class="dropdown-toggle" dropdownToggle>
						<i class="fa fa-cog"></i> <span class="caret"></span>
					</a>
					<ul  class="dropdown-menu" role="menu" *dropdownMenu>
						<li><a class="user-name">Kingsley Biney</a></li>
						<li><a class="user-alias">bineykingsley36@gmail.com</a></li>
						<li role="separator" class="divider"></li>
						<li><a>Profile</a></li>
						<li><a>Settings</a></li>
						<li><a>Help</a></li>
						<li role="separator" class="divider"></li>
						<li><a>Terms and Conditions</a></li>
						<li role="separator" class="divider"></li>
						<li><a>Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

	</div><!-- /.container-fluid -->
</nav>
<div class="main">
	<div class="container-fluid">
		<div class="row">
			<!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-3 " id="workpane_width">
				<div id="main-sidebar">
					<div class="input-group" id="search-button-control">
						<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search...">
						<div class="input-group-addon"><button><i class="fa fa-search"></i></button></div>
					</div>
					<div class="list-group">
						<a class="list-group-item dashboard-btn"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
						<div>
							<a class="list-group-item" (click)="isFirstCollapsed = !isFirstCollapsed">
								<span class="left-item"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</span>
                <span class="right-arrow">
                  <i *ngIf="isFirstCollapsed" class="fa fa-angle-left"></i>
                  <i *ngIf="!isFirstCollapsed" class="fa fa-angle-down"></i>
                </span>
							</a>
							<ul class="nav nav-second-level" [collapse]="isFirstCollapsed" >
								<li>
									<a>Flot Charts</a>
								</li>
								<li>
									<a>Morris.js Charts</a>
								</li>
							</ul>
						</div>
						<div>
							<a class="list-group-item" (click)="isSecCollapsed = !isSecCollapsed">
								<span class="left-item"><i class="fa fa-table fa-fw"></i>&nbsp;Tables</span>
                <span class="right-arrow">
                  <i *ngIf="isSecCollapsed" class="fa fa-angle-left"></i>
                  <i *ngIf="!isSecCollapsed" class="fa fa-angle-down"></i>
                </span>
							</a>
							<ul class="nav nav-second-level" [collapse]="isSecCollapsed">
								<li>
									<a>Panels and Wells</a>
								</li>
								<li>
									<a>Buttons</a>
								</li>
								<li>
									<a>Notifications</a>
								</li>
								<li>
									<a>Typography</a>
								</li>
								<li>
									<a> Icons</a>
								</li>
								<li>
									<a>Grid</a>
								</li>
							</ul>
						</div>
						<div>
							<a class="list-group-item">
								<span class="left-item"><i class="fa fa-edit fa-fw"></i>&nbsp;Forms</span>
								<span class="right-arrow"><i class="fa fa-angle-left"></i></span>
							</a>
						</div>
					</div>
				</div>

			</div>-->
			<!-- end of side bar-->
			<!--beginning of body-->
			<div id="body-control">
				<router-outlet></router-outlet>
			</div>
			<!--end of body-->
		</div>
	</div>

</div>
