<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/changePassword.css">
    <title>Stumbit | Change Password</title>
</head>
<body>

<!-- Navigation section. Import navigation bar -->
<section>
</section>
<!-- End of navigation section-->

<section class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
        <header><h2>Change Password</h2></header>
          <!-- Main section -->
         <section class="mainSec">
             <form action="/accounts/changePassword" method="post" id="changePassForm">
                 <div class="normal-block space" id="oldPassSec">
                     <label>Enter old Password :</label>
                     <i class="fa fa-eye"></i>
                     <input id="oldPass" type="password" name="oldPass" value="{{formData.oldPass}}"
                            placeholder="password" minlength="8" class="form-control" required>
                     {{!-- Place the error message in the span tag --}}
                     <span class="errors">{{errormsg.oldPassErr}}</span>
                 </div>
                 <div class="normal-block space" id="newPassSec">
                     <label>Enter New Password :</label>
                     <i class="fa fa-eye"></i>
                     <input id="newPass" type="password" minlength="8" name="newPass" value="{{formData.newPass}}"
                            placeholder="password" class="form-control" required>
                     {{!-- Place the error message in the span tag --}}
                     <span class="errors">{{errormsg.newPassErr}}</span>
                 </div>
                 <div class="normal-block space" id="newConfirmPassSec">
                     <label>Confirm New Password :</label>
                     <i class="fa fa-eye"></i>
                     <input id="newPassConfirm" type="password" minlength="8" name="newPassConfirm"
                        value="{{formData.newPassConfirm}}" placeholder="password" class="form-control" required>
                     {{!-- Place the error message in the span tag --}}
                     <span class="errors">{{errormsg.newPassConfirmErr}}</span><br><br>
                     <span class="errors">{{errormsg.passMismatch}}</span>
                 </div>
                 <div class="normal-block space button ">
                     <input id="changePassword" type="submit" name="changePass" value="CHANGE PASSWORD"
                     class="btn btn-success">
                 </div>
             </form>
         </section>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>

 <script type="text/javascript" src="../jquery/jquery.min.js"></script>
 <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="../generic/general.js"></script>
 <script type="text/javascript" src="../javascript/changePassword.js"></script>
</body>
</html>