<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
        <h1 style="font-size: 30px; background: #eee;">
            THERE WAS AN ERROR.
        </h1>
</body>
</html>