<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/signUpSuccess.css">
    <title>Stumbit Sign Up</title>
</head>
<body>
<!-- Stumbit header-->
<div id="navbut">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>-<span class="icon-bar"></span></button><a href="#" class="navbar-brand"><span id="cover"><i id="logo" class="fa fa-scribd"></i><b>T</b></span><span id="pageHeader"><b>STUMBIT</b><b class="hide-sm"> - Sign Up</b></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div id="collapse1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right breakpoint-sm-hid">
                    <li><a id="home" href="/" title="Home Page" class="hidden-lg hidden-md visible sm visible-xs">HOME</a></li>
                    <li><a href="/signIn" title="Sign In" class="sign">SIGN IN</a></li>
                    <li class="side"></li>
                </ul>
            </div>
            <!-- /.navbar-collapse-->
        </div>
        <!-- /.container-fluid-->
    </nav>
</div>
<!-- end of nav section-->
<!-- Stumbit Header-->
<section id="signUpSect">
        <h3>Stumbit Account registration successful</h3>
        <hr class="deep-hr">
        <section id="InfoBorder">
            <div id="message">
                <div class="feature-wrap">
                    <i class="fa fa-envelope"></i>
                    <h2>Email Verification</h2>
                </div>

                <p class="bord">
                    {{!-- Specify message based on the messagevariable --}}
                    {{#if message}}
                        A verification link has been sent to your email account.<br> You will find it in either your inbox or
                       spam folder.
                    {{else}}
                        Your account needs to be activated.<br> Please click on this button to send a verification link
                       to your email account . <br>
                        <a href="/accounts/resendEmail?id={{id}}" title="Send Email" class="btn btn-primary custom-button">
                          Send verification link
                        </a>
                    {{/if}}

                    <br><br><br>
                    <hr>
                    <p class="bord"> Didn't receive email ?
                        <a href="/accounts/resendEmail?id={{id}}" title="Send Email" class="">
                            Re-Send verification link
                        </a>
                    </p>

                </p>
            </div>
        </section>

        <!--footer section-->
        <div id="footer">© 2016 Stumbit Network. All Rights Reserved.</div>
</section>
<script type="text/javascript" src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>