<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/signUp.css">
    <title>Stumbit Sign Up</title>
</head>
<body>
<!-- Stumbit header-->
<div id="navbut">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>- 		            <span class="icon-bar"></span></button><a href="#" class="navbar-brand"><span id="cover"><i id="logo" class="fa fa-scribd"></i><b>T</b></span><span id="pageHeader"><b>STUMBIT</b><b class="hide-sm"> - Sign Up</b></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div id="collapse1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right breakpoint-sm-hid">
                    <li><a id="home" href="/" title="Home Page" class="hidden-lg hidden-md visible sm visible-xs">HOME</a></li>
                    <li><a href="/signIn" title="Sign In" class="sign">SIGN IN</a></li>
                    <li class="side"></li>
                </ul>
            </div>
            <!-- /.navbar-collapse-->
        </div>
        <!-- /.container-fluid-->
    </nav>
</div>
<!-- end of nav section-->
<!-- Stumbit Header-->

  <!-- Actuall Info -->
  <section id="signupSect">
    <form action="/accounts/signUp" method="post" id="signUpForm">
            <h2>Welcome - Create your Stumbit Account</h2>
            <h3>Creating an account is free</h3>
            <div class="formBorder signUp">
                <div id="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 signUpHead"><h4>SIGN UP <i class="fa fa-pencil"></i></h4></div>
                            <div class="col-xs-6 signInHead"><a href="/signIn" title="Login Page"><h4>SIGN IN</h4></a></div>
                        </div>
                    </div>
                </div>
                <div class="theRest">
                    <div class="space">
                        <label>Please select a registration  type :</label>
                        <select id="registrationType" name="registrationType" class="form-control">
                            <option value="applicant" selected>Applicant Registration</option>
                            <option value="company">Company Registration</option>
                        </select>
                        {{!-- Place the error message in the span tag --}}
                        <span class="errors">{{errormsg.regTypeError}}</span>
                    </div>
                    <div class="space">
                        <label>Provide a valid Email :</label>
                        <input id="email" type="email"  name="email" value="{{data.emailVal}}" placeholder="email"
                         class="form-control" required>
                        {{!-- Place the error message in the span tag --}}
                        <span class="errors">{{errormsg.emailError}}</span>
                    </div>
                    <div class="space">
                        <label>Enter a Password :</label>
                        <input id="password" type="password" name="password" value="{{data.passwordVal}}"
                          placeholder="password" class="form-control" required>
                        {{!-- Place the error message in the span tag --}}
                        <span class="errors">{{errormsg.passwordError}}</span>
                    </div>
                    <div class="space">
                        <label>Confirm Password :</label>
                        <input id="retypePassword" type="password" name="retypePassword" value="{{data.retyPassVal}}"
                         placeholder="password" class="form-control" required>
                        {{!-- Place the error message in the span tag --}}
                        <span class="errors">{{errormsg.confirmError}}</span>
                    </div>
                    <div class="space">
                        <p>
                            <input type="checkbox" value="1" id="Iagree" name="Iagree">
                             I here by agree to all terms and conditions pertaining the use of my account.
                        </p>
                    </div>

                    <div class="space button ">
                        <input id="signUp" type="submit" name="submit" value="CREATE ACCOUNT" class="btn btn-primary">
                    </div>
                </div>
            </div>
            <div id="footer">© 2016 Stumbit Network. All Rights Reserved.</div>
    </form>
  </section>
  <!-- end of info -->

<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../generic/general.js"></script>
<script type="text/javascript" src="../../javascript/signUp.js"></script>
</body>
</html>