<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/signIn.css">
    <title>Sign In</title>
</head>
<body>

<!-- Stumbit header-->
<div id="navbut">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><span id="cover"><i id="logo" class="fa fa-scribd"></i><b>T</b></span><span id="pageHeader"><b>STUMBIT</b><b class="hide-sm"> - Sign In</b></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div id="collapse1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right breakpoint-sm-hid">
                    <li><a id="home" href="/" title="Home Page" class="hidden-lg hidden-md visible sm visible-xs">HOME</a></li>
                    <li><a href="/accounts/signUp" title="Sign Up" class="sign">SIGN UP</a></li>
                    <li class="side"></li>
                </ul>
            </div>
            <!-- /.navbar-collapse-->
        </div>
        <!-- /.container-fluid-->
    </nav>
</div>
<!-- end of nav section-->
<!-- Stumbit Header-->
<section id="signInSect">
    <form action="/signIn" method="post" id="signInForm">
            <div class="formBorder">
                <div id="header">
                    <h4>LOG INTO ACCOUNT</h4>
                </div>
                <div class="theRest">
                    <div class="space">
                        <label>Email :</label>
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                            <input id="email" type="email" name="email" placeholder="email" class="form-control" required>
                        </div>
                        <span class="errors">{{emailError}}</span>
                    </div>
                    <div class="space">
                        <label>Password :</label>
                        <div class="input-group space"><span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span>
                            <input id="password" type="password" name="password" placeholder="password" class="form-control"
                             required>
                        </div>
                        <span class="errors">{{passwordError}}</span>
                    </div>
                    <div class="space button">
                        <input id="login" type="submit" name="submit" value="LOG IN" class="btn btn-primary">
                    </div><a id="ForgotPassword" href="forgotPassword.html" title="Click here to reset your password" target="_blank">
                    Forgot password</a>
                </div>
            </div>
            <div id="footer">© 2016 Stumbit Network. All Rights Reserved.</div>
    </form>
</section>
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="generic/general.js"></script>
<script type="text/javascript" src="javascript/signIn.js"></script>
</body>
</html>