.main-profile-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-notice {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    color: cadetblue;
}

.files-upload {
    margin-bottom: 10px;
}

label {
    color: #808080;
    font-family: "Courier New";
}

.form-required {
    color: #ff0000;
}

.panel-title {
    color: #4169e1;
}

input, textarea, select {
    border-radius: 0px !important;
}

.form_body {
    border-radius: 0px !important;
}

.centered-form{
    margin-top: 20px;
}

